#comm-stats {
  .stats-gen-head {
    text-align: center;
    h1 {
      color: black;
      margin-bottom: 40px;
      font-weight: 800;
      span {
        color: $pinkColor;
      }
    }

    p {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  .stats-gen-div {
    margin-top: 50px;

    .stats-div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0px 0px 75px -25px rgba(0, 0, 0, 0.75);
      padding: 3%;
      border-radius: 10px;
      margin-bottom: 40px;
      span {
        font-size: 25px;
        font-weight: 800;
      }

      .nb-div {
        width: 15%;
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
        h6 {
          font-size: 17px;
          color: white;
          background-color: $pinkColor;
          border-radius: 5px;
          font-weight: 700;
          padding: 2%;
        }
        span {
          padding: 5%;
          border-radius: 2px;
          border: 2px solid $pinkColor;
          margin-top: 20px;
          font-size: 20px;
        }
      }
    }
  }
}
