.search-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  padding: 20px;
  width: 100%;
  height: auto;
  border-radius: 20px;

  .search-input {
    width: 80%;
    margin: auto;
    font-size: 20px;
    border-radius: 10px;
    border: $pinkColor solid 2px;
    padding: 4px;
    margin-bottom: 50px;
  }

  .search-option-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 90%;
    margin-bottom: 20px;

    .select-div {
      margin-left: 20px;
      margin-bottom: 20px;

      label {
        color: $pinkColor;
        font-weight: 600;
      }

      select {
        border: solid 3px $pinkColor;
        height: 30px;
      }
    }
  }
  button {
    width: auto;
    margin: auto;
    color: white;
    background-color: $pinkColor;
    padding: 1%;
    font-weight: 700;
    border-radius: 10px;
  }
}
