.search-section {
  display: flex;
  flex-direction: column;

  .heading {
    width: auto;
    font-weight: 700;
    font-size: 40px;
    border-bottom: 2px solid $pinkColor;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;

    .heading-title {
      font-size: 20px;
      font-weight: 700;
    }
    .heading-line {
      margin-left: 20px;
      margin-right: 20px;
      width: 100%;
      height: 2px;
      background-color: $pinkColor;
    }
    .heading-logo {
      width: 30px;
      height: 30px;
    }
  }

  .search-result {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .mini-profil-block {
      width: 22%;
      justify-content: center;
      margin-bottom: 40px;
      .profil-photo {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin-bottom: 10px;
        border-radius: 30px;
      }
      .profil-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0px 0px 38px 5px rgba(204, 204, 204, 1);
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 5px;

        .name-town {
          font-size: large;
          display: flex;
          justify-content: center;
          margin-top: 20px;
          margin-bottom: 10px;
        }
      }
    }
    .goto-profile-btn {
      padding: 5px;
      font-weight: 600;
      background-color: $pinkColor;
      color: white;
      border-radius: 5px;
      max-width: 60%;
      margin: auto;
    }
  }
}
