.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7%;
  h2 {
    font-size: 40px;
    border-bottom: 2px solid $pinkColor;
    margin: auto;
    font-weight: 700;
  }
  span {
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: $pinkColor;
    text-align: center;
    width: 70%;
  }
}

.contact-form {
  max-width: 80%;
  margin: auto;
  margin-top: 50px;
  background-color: black;
  padding: 5%;
  border-radius: 10px;
}
.feedback-input {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: white;
  border: 2px solid $pinkColor;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid $pinkColor;
}
textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}
[type="submit"] {
  width: 100%;
  background: $pinkColor;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  font-weight: 700;
  margin: auto;
}
[type="submit"]:hover {
  background: $pinkColor;
}

@media only screen and (max-width: 479px) {
  .contact-form {
    width: 80%;
    margin: auto;
    margin-top: 40px;
  }

  .contact {
    h2 {
      font-size: 15px;
    }
    span {
      font-size: 12px;
      text-align: justify;
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .contact {
    h2 {
      font-size: 22px;
    }
    span {
      font-size: 15px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact {
    h2 {
      font-size: 30px;
    }
    span {
      font-size: 20px;
      text-align: justify;
    }
  }
}
