.home-banner {
  width: 100%;
  height: 60vh;
  display: flex;
  a {
    .banner-photo {
      height: 60vh;
      width: 20vw;
      img {
        width: 20vw;
        height: 100%;
      }
    }
  }
}
