.livelink-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    margin: auto;
    margin-bottom: 40px;
    font-size: 45px;
  }
  .livelink-box {
    padding: 5%;
    height: 30vh;
    background-color: black;
    display: flex;
    flex-direction: column;

    span {
      font-size: 35px;
      color: white;
      margin: auto;
    }

    a {
      background-color: $pinkColor;
      text-decoration: none;
      padding: 20px;
      font-weight: 800;
      font-size: 30px;
      color: white;
      margin: auto;
      border-radius: 10px;
    }
  }
}
