.partner-section {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;

  .partner-fulldiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
  }
  h2 {
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }

  .partner-banner {
    margin: auto;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 30%;
    height: 100px;
    border: black 2px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: $pinkColor;

    .partner-message {
      font-size: 15px;
      font-weight: 600;
    }
  }

  .line {
    background-color: $pinkColor;
    height: 2px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .message-to-partner {
    margin: auto;
    font-size: 25px;
    font-weight: 700;
  }

  a {
    padding: 1%;
    margin: auto;
    margin-top: 50px;
    text-decoration: none;
    background-color: $pinkColor;
    font-size: 25px;
    font-weight: 700;
    color: white;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 20px 42px 0px rgba(168, 168, 168, 1);
  }
}
