.recents-subscription {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;

  h2 {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .heading {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    .heading-title {
      font-size: 20px;
      font-weight: 700;
    }
    .heading-line {
      margin-left: 20px;
      margin-right: 20px;
      width: 100%;
      height: 2px;
      background-color: $pinkColor;
    }
    .heading-logo {
      width: 30px;
      height: 30px;
    }
  }
  .mini-profil-block {
    width: 15%;
    justify-content: center;
    margin-bottom: 40px;
    .profil-photo {
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin-bottom: 10px;
      border-radius: 30px;
    }
    .profil-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0px 0px 38px 5px rgba(204, 204, 204, 1);
      margin-bottom: 10px;
      border-radius: 10px;
      padding: 5px;

      .name-town {
        font-size: large;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      .sentence {
        font-size: 5px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
      }
    }
  }
  .goto-profile-btn {
    padding: 10px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    background-color: $pinkColor;
    color: white;
    border-radius: 5px;
    max-width: 50%;
    margin: auto;
  }
}
