.shop-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .line {
    width: 90%;
    margin: auto;
    height: 3px;
    background-color: $pinkColor;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 50px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .shop-box {
    background-color: $pinkColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;

    h3 {
      margin: auto;
      color: white;
      font-weight: 700;
      font-size: 35px;
      margin-bottom: 40px;
    }
    .item-box {
      display: flex;
      justify-content: space-between;
      width: 95%;
      margin: auto;
      .shop-item {
        background-color: white;
        width: 500px;
        height: 300px;
        border-radius: 15px;
      }
    }

    a {
      display: flex;
      justify-content: center;
      text-decoration: none;
      padding: 20px;
      font-weight: 800;
      font-size: 30px;
      color: white;
      background-color: black;
      width: 30%;
      margin: auto;
      margin-top: 100px;
      border-radius: 15px;
      box-shadow: 2px 20px 42px 0px rgba(0, 0, 0, 0.212);
    }
  }
}
