#addGirl {
  margin: 20px;

  h3 {
    border-bottom: 2px solid $pinkColor;
    width: fit-content;
    margin-bottom: 30px;
  }

  h5 {
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .add-action-div {
    text-align: center;
    margin-bottom: 40px;
    input {
      width: 70%;
      padding: 1%;
      border-radius: 10px;
      margin: auto;
      margin-bottom: 10px;
      border: $pinkColor 2px solid;
    }

    button {
      width: fit-content;
      padding: 10px;
      font-size: 15px;
      background-color: black;
    }
  }

  .no-result-div {
    text-align: center;
    padding: 1rem;
    font-size: 15px;
    font-weight: 600;
    background-color: white;
    border: 1px solid $pinkColor;
    border-radius: 50px;
    margin-bottom: 20px;
  }

  .add-girl-result-div {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 23px 10px 66px -26px rgba(0, 0, 0, 0.75);
    border-radius: 50px;
    margin-bottom: 20px;

    span {
      font-size: 16px;
      font-weight: 500;
    }

    .add-btn-div {
      display: flex;
      justify-content: space-between;
      .goto-profil {
        background-color: $pinkColor;
        border-radius: 20px;
        padding: 10px;
        color: white;
        font-weight: 700;
        margin-right: 40px;
      }

      .add-girl-btn {
        background-color: rgb(38, 197, 60);
        border-radius: 30px;
        padding: 10px;
        color: white;
        font-weight: 700;
      }

      .delete-girl-btn {
        display: none;
        background-color: rgb(255, 45, 45);
        border-radius: 30px;
        padding: 10px;
        color: white;
        font-weight: 700;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  #addGirl {
    margin: 0px;
    h3 {
      font-size: 20px;
      text-align: center;
    }
    h5 {
      font-size: 15px;
    }
    .add-action-div {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 40px;
      input {
        line-height: 20px;
        font-size: 13px;
        width: 100%;
      }

      button {
        font-size: 13px;
      }
    }
    .no-result-div {
      font-size: 10px;
    }

    .add-girl-result-div {
      flex-direction: column;

      span {
        font-size: 10px;
        margin-bottom: 10px;
      }
      .add-btn-div {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        button {
          font-size: 13px;
        }
      }
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #addGirl {
    h3 {
      font-size: 20px;
    }

    .add-action-div {
      text-align: center;
      margin-bottom: 40px;
      input {
        font-size: 11px;
      }

      button {
        font-size: 11px;
      }
    }
    .no-result-div {
      font-size: 10px;
    }

    .add-girl-result-div {
      span {
        font-size: 13px;
      }
      button {
        font-size: 10px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  #addGirl {
    h3 {
      font-size: 20px;
    }
    .no-result-div {
      font-size: 12px;
    }

    .add-girl-result-div {
      span {
        font-size: 13px;
      }
      button {
        font-size: 13px;
      }
    }
  }
}
