#comm {
  margin: 20px;
  border: solid 2px $pinkColor;
  border-radius: 20px;
  h3 {
    border-bottom: 2px solid $pinkColor;
    width: fit-content;
    margin-bottom: 20px;
  }
  .full-second-div {
    margin-bottom: 30px;
    width: 100%;

    .no-comment-div {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 40px;
      box-shadow: 4px 9px 22px -8px rgba(0, 0, 0, 0.75);
      padding: 3%;
      border-radius: 10px;
      font-size: 20px;
      font-weight: 700;
      color: $pinkColor;
    }

    .comment-validation {
      margin-bottom: 40px;
      padding: 3%;
      border-radius: 10px;
      box-shadow: 4px 9px 22px -8px rgba(0, 0, 0, 0.75);
      display: flex;
      justify-content: space-between;
      .comm-valid-box {
        width: 60%;
        .comm-head-text {
          .comm-pseudo {
            font-size: 18px;
            font-weight: 700;
            font-style: italic;
            border-bottom: $pinkColor 2px solid;
          }
          .comm-text {
            text-align: justify;
            margin-top: 5px;
          }
        }
      }
      .comm-btn-div {
        width: 40%;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;

        .comm-valid-btn {
          background-color: rgb(38, 197, 60);
          border-radius: 30px;
          padding: 10px;
          color: white;
          font-weight: 700;
        }
        .comm-delete-btn {
          background-color: rgb(255, 45, 45);
          border-radius: 30px;
          padding: 10px;
          color: white;
          font-weight: 700;
        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  #comm {
    margin: 0;
    margin-bottom: 40px;
    h3 {
      font-size: 20px;
    }
    .full-second-div {
      .no-comment-div {
        padding: 6%;
        font-size: 12px;
      }

      .comment-validation {
        display: block;

        .comm-valid-box {
          width: 100%;
          .comm-head-text {
            .comm-pseudo {
              font-size: 15px;
            }
            .comm-text {
              font-size: 12px;
            }
          }
        }
        .comm-btn-div {
          display: flex;
          width: 100%;
          margin-top: 10px;
          .comm-valid-btn {
            img {
              width: 10px;
              height: 10px;
            }
          }
          .comm-delete-btn {
            img {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  #comm {
    margin-bottom: 40px;
    h3 {
      font-size: 20px;
    }
    .full-second-div {
      .comment-validation {
        .comm-valid-box {
          width: 100%;
          .comm-head-text {
            .comm-pseudo {
              font-size: 15px;
            }
            .comm-text {
              font-size: 12px;
            }
          }
        }
        .comm-btn-div {
          display: flex;
          width: 100%;
          margin-top: 10px;
          .comm-valid-btn {
            img {
              width: 10px;
              height: 10px;
            }
          }
          .comm-delete-btn {
            img {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
  }
}
