#info {
  margin: 20px;
  border: solid 2px $pinkColor;
  border-radius: 20px;
  .title {
    font-size: 25px;
    border-bottom: solid 2px $pinkColor;
    width: fit-content;
    margin-bottom: 40px;
  }
  .hours-form-div {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    p {
      text-align: center;
    }
    .hours-form {
      padding: 3%;
      box-shadow: 4px 9px 22px -8px rgba(0, 0, 0, 0.75);
      border-radius: 10px;
      display: flex;
      justify-content: space-evenly;
      width: 50%;
      margin: auto;
      .fullWeek {
        text-align: center;
        h5 {
          font-size: 15px;
          color: $pinkColor;
        }
        div {
          text-align: right;
          label {
            font-size: 12px;
            font-weight: 600;
            margin-right: 10px;
          }
          select {
            font-size: 12px;
            border: 1px $pinkColor solid;
            border-radius: 5px;
          }
        }
      }
    }
  }

  .dispo-form-div {
    text-align: center;
    margin-bottom: 20px;
    p {
      font-size: 20px;
    }
    input {
      border: 2px black solid;
      border-radius: 10px;
      text-align: center;
      font-size: 20px;
      color: $pinkColor;
      width: 50%;
    }
  }

  .first-full-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    .first-form-div {
      width: 50%;
      label {
        font-size: 15px;
        font-weight: 500;
      }
      input {
        padding-left: 5px;
        width: 90%;
        font-weight: 500;
        border: $pinkColor 2px solid;
        border-radius: 5px;
      }
      select {
        border: 2px $pinkColor solid;
        background-color: white;
        border-radius: 5px;
      }
    }
    .second-form-div {
      width: 50%;
      label {
        font-size: 15px;
        font-weight: 500;
      }
      input {
        padding-left: 5px;
        width: 90%;
        font-weight: 500;
        border: $pinkColor 2px solid;
        border-radius: 5px;
      }
      select {
        border: 2px $pinkColor solid;
        background-color: white;
        border-radius: 5px;
      }
    }
  }
  .service-title {
    font-size: 15px;
    font-weight: 500;
  }

  .service-div {
    display: flex;
    .service {
      display: flex;
      flex-direction: column;
      width: 30%;
    }
  }

  .second-full-row {
    display: flex;
    margin-top: 40px;

    div {
      width: 100%;
    }
    .first-checkbox-div {
      display: flex;
      .payments-div {
        div {
          display: flex;
          label {
            margin-left: 5px;
          }
        }
        margin-right: 50px;
      }
    }
    .second-checkbox-div {
      display: flex;
      .language-div {
        div {
          display: flex;
          label {
            margin-left: 5px;
          }
        }
        margin-right: 50px;
      }
    }

    input {
      padding-left: 5px;
      border: $pinkColor 2px solid;
      border-radius: 5px;
    }

    .text-input {
      width: 90%;
    }
    textarea {
      padding-left: 5px;
      width: 100%;
      border: $pinkColor 2px solid;
      border-radius: 5px;
    }
    label {
      font-size: 15px;
      font-weight: 500;
      color: black;
    }
    p {
      font-size: 12px;
    }
  }
  .pro-profil-submit {
    width: 100%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  #info {
    margin: 0px;
    margin-bottom: 60px;
    .title {
      font-size: 20px;
    }
    .hours-form-div {
      margin-top: 20px;
      margin-bottom: 50px;
      text-align: center;
      p {
        text-align: center;
      }
      .hours-form {
        padding: 3%;
        box-shadow: 4px 9px 22px -8px rgba(0, 0, 0, 0.75);
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: auto;
        .fullWeek {
          text-align: center;
          h5 {
            font-size: 15px;
            color: $pinkColor;
          }
          div {
            text-align: right;
            label {
              font-size: 9px;
              font-weight: 600;
              margin-right: 10px;
            }
            select {
              font-size: 9px;
              border: 1px $pinkColor solid;
              border-radius: 5px;
            }
          }
        }
      }
    }
    .dispo-form-div {
      width: 100%;
      p {
        font-size: 15px;
      }
      input {
        width: 100%;
      }
    }

    .first-full-row {
      display: block;
      .first-form-div {
        width: auto;
      }
      .second-form-div {
        width: auto;
      }
    }
    .service-div {
      display: flex;
      flex-direction: column;
      .service {
        display: flex;
        flex-direction: column;
        width: auto;
      }
    }
    .second-full-row {
      flex-direction: column;
      .first-checkbox-div {
        display: block;
      }
      .second-checkbox-div {
        display: block;
      }
    }

    #description {
      width: 100%;
    }
    .pro-profil-submit {
      margin-bottom: 50px;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 1023px) {
  #info {
    margin: 0;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1300px) {
  #info {
    .dispo-form-div {
      width: 100%;
      p {
        font-size: 12px;
      }
      input {
        width: 50%;
      }
    }

    .first-full-row {
      display: flex;
      justify-content: space-around;
      .first-form-div {
        width: 50%;
        label {
          font-size: 12px;
          font-weight: 500;
        }
        input {
          width: 90%;
          font-weight: 500;
          border: $pinkColor 2px solid;
          border-radius: 5px;
        }
      }
      .second-form-div {
        label {
          font-size: 12px;
        }
      }
    }
    .second-full-row {
      label {
        font-size: 12px;
      }
      .payments-div {
        div {
          display: flex;
          label {
            margin-left: 5px;
            font-size: 9px;
          }
        }
      }
      .language-div {
        div {
          display: flex;
          label {
            margin-left: 5px;
            font-size: 9px;
          }
        }
      }
    }
    .service-div {
      font-size: 12px;
    }
  }
}
