#param {
  margin: 20px;
  border: solid 2px $pinkColor;
  border-radius: 20px;
  h3 {
    border-bottom: 2px solid $pinkColor;
    width: fit-content;
    margin-bottom: 20px;
  }

  .pro-profil-form {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
      font-weight: 600;
      font-size: 20px;
      border: none;
      border-bottom: solid 2px $pinkColor;
      width: 100%;
      padding: 7px;
    }
    label {
      color: $pinkColor;
      font-size: 20px;
      font-weight: 600;
    }

    .pro-profil-submit {
      padding: 10px;
      border-radius: 10px;
      font-weight: 600;
      font-size: 25px;
      background-color: $pinkColor;
      color: white;
      width: auto;
      margin: auto;
    }
  }
  .pro-delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      font-size: 20px;
      font-weight: 400;
    }
    button {
      padding: 10px;
      border-radius: 10px;
      font-weight: 600;
      font-size: 25px;
      background-color: $pinkColor;
      color: white;
      margin: auto;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 450px) {
  #param {
    margin: 0px;
    h3 {
      font-size: 20px;
    }
    .pro-profil-form {
      .pro-profil-submit {
        font-size: 15px;
      }
    }
    .pro-delete {
      margin-bottom: 50px;
      p {
        font-size: small;
        text-align: justify;
      }
      button {
        font-size: 15px;
      }
    }
  }
}
