#gallery {
  margin: 20px;
  border: solid 2px $pinkColor;
  border-radius: 20px;
  h3 {
    border-bottom: 2px solid $pinkColor;
    width: fit-content;
  }
  .gallery-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: auto;
    margin-bottom: 30px;
    .gallery-photo-div {
      width: 30%;
      margin-right: 20px;
      img {
        border-radius: 10px;
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin-bottom: 15px;
      }
      .btn-div {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        .btn-modif {
          background-color: rgb(15, 179, 15);
          border: none;
          border-radius: 5px;
          color: white;
        }
        .btn-delete {
          background-color: rgb(187, 58, 25);
          border: none;
          border-radius: 5px;
          color: white;
        }
      }
    }
    .gallery-video-div {
      width: 30%;
      margin-right: 20px;
      img {
        border-radius: 10px;
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin-bottom: 15px;
      }
      .btn-div {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        .btn-modif {
          background-color: rgb(15, 179, 15);
          border: none;
          border-radius: 5px;
          color: white;
        }
        .btn-delete {
          background-color: rgb(187, 58, 25);
          border: none;
          border-radius: 5px;
          color: white;
        }
      }
    }
  }
}
