#stats {
  margin: 20px;
  border: solid 2px $pinkColor;
  border-radius: 20px;
  h3 {
    border-bottom: 2px solid $pinkColor;
    width: fit-content;
    margin-bottom: 40px;
  }
  h4 {
    font-weight: 600;
    font-size: 15px;
    border-bottom: 2px solid $pinkColor;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
  }
  .first-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    .first-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 2%;
      border: solid 2px $pinkColor;
      border-radius: 10px;
      width: fit-content;
      height: fit-content;
    }
    .second-div {
      padding: 2%;
      border: solid 2px $pinkColor;
      border-radius: 10px;
      width: fit-content;
    }
  }
  .second-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 70%;
    .first-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2%;
      border: solid 2px $pinkColor;
      border-radius: 10px;
      width: fit-content;
      margin: auto;
      margin-bottom: 30px;
      .grid-view-photo {
        display: flex;
        width: fit-content;
        margin: auto;
        .photo {
          margin-right: 10px;
          width: 100%;
          img {
            border-radius: 10px;
            width: 100%;
          }
          span {
            border-radius: 10px;
            padding: 2px;
            font-weight: 700;
            color: white;
            background-color: rgba(128, 128, 128, 0.473);
            margin: auto;
            position: relative;
            bottom: 15%;
            left: 30%;
          }
        }
      }
      button {
        margin: auto;
        width: fit-content;
        background-color: $pinkColor;
        color: white;
        font-weight: 600;
        border-radius: 10px;
      }
    }
    .second-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2%;
      border: solid 2px $pinkColor;
      border-radius: 10px;
      width: fit-content;
      margin: auto;
      .video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
        margin-bottom: 15px;
        position: relative;
        text-align: center;
        img {
          border-radius: 10px;
          width: 50%;
          margin: auto;
          z-index: 0;
        }
        span {
          position: relative;
          padding: 0.5em;
          background: #80808082;
          display: block;
          width: 6em;
          left: 40%;
          bottom: 3em;
          line-height: 1em;
          border-radius: 0.3em;
          color: white;
          font-weight: 600;
        }
      }
      button {
        margin: auto;
        width: fit-content;
        background-color: $pinkColor;
        color: white;
        font-weight: 600;
        border-radius: 10px;
      }
    }
  }
}
