footer {
  padding: 1%;
  display: flex;
  justify-content: center;
  background-color: black;
  color: $pinkColor;

  a {
    text-decoration: none;
    color: $pinkColor;
    margin-bottom: 10px;
    font-weight: 700;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    .logo-div {
      background-color: white;
      border: solid 3px $pinkColor;
      border-radius: 20px;
      padding: 1%;
      width: 150px;
      display: flex;
      justify-content: center;
      img {
        margin: auto;
        width: 90%;
        height: 40px;
      }
    }
    p {
      color: white;
      font-size: 20px;
      font-weight: 700;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .nav-link {
      display: flex;
      justify-content: center;
      width: 90%;
      a {
        text-decoration: none;
        color: white;
        font-weight: 600;
        background-color: $pinkColor;
        margin-left: 50px;
        border-radius: 10px;
        padding: 15px;
      }
    }
  }
  .rapid-link {
    display: flex;
    flex-direction: column;

    width: 30%;
  }
  .about-link {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  h3 {
    color: white;
  }
}
.copyright {
  display: flex;
  justify-content: center;
  background-color: $pinkColor;
  font-size: small;
  color: black;
  font-weight: 600;
  padding: 1%;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  footer {
    .footer-nav {
      width: 100%;
      .logo-div {
        margin-top: 40px;
      }
      p {
        font-size: 15px;
        margin: none;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 100%;
        text-align: center;
      }
      .nav-link {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        a {
          margin: 0;
          font-size: 15px;
          padding: 7px;
        }
      }
    }
    .rapid-link {
      display: none;
    }
    .about-link {
      display: none;
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  footer {
    .footer-nav {
      width: 100%;
      .logo-div {
        margin-top: 40px;
      }
      p {
        font-size: 15px;
        margin: none;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 100%;
        text-align: center;
      }
      .nav-link {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        a {
          margin: 0;
          font-size: 15px;
          padding: 7px;
        }
      }
    }
    .rapid-link {
      display: none;
    }
    .about-link {
      display: none;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  footer {
    .footer-nav {
      width: 100%;
      .logo-div {
        margin-top: 40px;
      }
      p {
        font-size: 15px;
        margin: none;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 100%;
        text-align: center;
      }
      .nav-link {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        a {
          margin: 0;
          font-size: 15px;
          padding: 7px;
        }
      }
    }
    .rapid-link {
      display: none;
    }
    .about-link {
      display: none;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1500px) {
  footer {
    text-align: left;
    .footer-nav {
      .logo-div {
        margin-top: 40px;
      }
      p {
        font-size: 15px;
        margin: none;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 100%;
        text-align: center;
      }
      .nav-link {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        a {
          margin: 0;
          font-size: 15px;
          padding: 7px;
        }
      }
    }
    .rapid-link {
    }
    .about-link {
    }
  }
}
