header {
  .firstDivHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0;

    .logo {
      width: 220px;
    }

    a {
      text-decoration: none;
      color: black;
      font-weight: 600;
    }
    .title {
      font-size: large;
    }
    .heartlogo {
      width: 40px;
    }
    .suisse {
      color: $pinkColor;
    }
  }
}

.nav {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
  text-align: center;

  a {
    font-weight: 600;
    color: black;
    text-decoration: none;
  }
}

.pinkline {
  height: 2px;
  background-color: $pinkColor;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  header {
    display: none;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  header {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  header {
    display: none;
  }
}
