.map {
  padding-top: 50px;
  h1 {
    font-size: 40px;
    border-bottom: 2px solid $pinkColor;
    margin: auto;
    font-weight: 700;
    width: fit-content;
    margin-bottom: 30px;
  }

  .title {
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 80%;

    .heading-title {
      font-size: 20px;
      font-weight: 700;
    }
    .heading-line {
      margin-left: 20px;
      margin-right: 20px;
      width: 100%;
      height: 2px;
      background-color: $pinkColor;
    }
    .heading-logo {
      width: 30px;
      height: 30px;
    }
  }

  .map-search-input {
    display: flex;
    flex-direction: column;
    align-content: center;
    input {
      padding-left: 10px;
      border: 2px solid $pinkColor;
      border-radius: 10px;
      height: 40px;
      margin: auto;
      margin-bottom: 20px;
      width: 80%;
    }
    select {
      border: 2px solid $pinkColor;
      font-weight: 500;
      width: fit-content;
      margin: auto;
      margin-bottom: 20px;
    }
  }
}
