.map-result {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .mini-profil-block {
    width: 22%;
    justify-content: center;
    margin-bottom: 40px;
    .profil-photo {
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin-bottom: 10px;
      border-radius: 30px;
    }
    .profil-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0px 0px 38px 5px rgba(204, 204, 204, 1);
      margin-bottom: 10px;
      border-radius: 10px;
      padding: 5px;

      .name-town {
        font-size: large;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }
  }
  .goto-profile-btn {
    padding: 5px;
    font-weight: 600;
    background-color: $pinkColor;
    color: white;
    border-radius: 5px;
    max-width: 60%;
    width: fit-content;
    margin: auto;
  }
}
