.conciergerie {
  display: flex;
  flex-direction: column;
  padding: 5%;
  width: 80%;
  margin: auto;

  h2 {
    width: auto;
    font-weight: 700;
    font-size: 40px;
    border-bottom: 2px solid $pinkColor;
    margin: auto;
    margin-bottom: 50px;
  }

  h3 {
    width: auto;
    font-weight: 700;
    font-size: 20px;
    border-bottom: 2px solid $pinkColor;
    margin: auto;
    margin-bottom: 30px;
  }

  p {
    font-size: 100%;
    margin-bottom: 40px;
    text-align: justify;
  }

  a {
    width: auto;
    margin-top: 40px;
    color: white;
    padding: 1.5%;
    font-size: 35px;
    font-weight: 700;
    background-color: $pinkColor;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 20px 42px 0px rgba(168, 168, 168, 1);
  }
}

@media only screen and (max-width: 479px) {
  .conciergerie {
    h2 {
      font-size: 20px;
    }

    a {
      font-size: 25px;
      padding: 5%;
      margin-bottom: 100px;
    }
  }
}
