.profil {
  display: flex;

  .full-banner-div {
    display: flex;
    flex-direction: column;
    width: 20%;
    position: sticky;
    top: 5%;
    bottom: 10%;
    border-radius: 10px;
    box-shadow: 9px 11px 34px -12px rgba(0, 0, 0, 0.53);
    height: fit-content;
    padding: 2%;
    margin-bottom: 20px;
    .name {
      font-size: 20px;
      font-weight: 700;
      margin: auto;
      margin-bottom: 10px;
    }
    .banner-photo {
      width: 100%;
      img {
        border-radius: 10px;
        width: 100%;
      }
    }
    .btn-div {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;

      a {
        padding: 4%;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 30px;
        color: white;
        border-radius: 10px;
      }
      .btn-message {
        background-color: #77bff4;
      }
      .btn-call {
        background-color: $pinkColor;
      }
      .btn-favoris {
        background-color: #91d185;
      }
    }
  }

  .full-description-profil {
    width: 80%;
    margin-left: 20px;
    .card-div {
      width: 100%;
      padding: 2%;
      border-radius: 10px;
      box-shadow: 9px 11px 34px -12px rgba(0, 0, 0, 0.53);
      margin-bottom: 30px;

      .view-div {
        text-align: center;
        background-color: $pinkColor;
        border-radius: 10px;
        font-weight: 700;
        font-size: 20px;
        color: white;
        padding: 5%;
      }

      .num-connexion-div {
        text-align: center;
        background-color: $pinkColor;
        border-radius: 10px;
        font-weight: 700;
        font-size: 20px;
        color: white;
        padding: 5%;
      }
      .description-text {
        text-align: justify;
      }
    }

    .certified {
      font-weight: 700;
      color: white;
      background-color: #91d185;
      width: 20%;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      padding: 1%;
      margin-bottom: 20px;
    }

    .card-title {
      font-size: 20px;
      font-weight: 700;
      color: black;
      border-bottom: solid 2px $pinkColor;
      width: fit-content;
      margin-bottom: 10px;
    }
  }
}

.profil-nav {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 40px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
    padding: 10px;
    margin: auto;
    text-decoration: none;
    border-radius: 10px;
  }

  .return-home-btn {
    background-color: black;
  }

  .next-profil-btn {
    background-color: $pinkColor;
  }

  .name-town-div {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 9px 11px 34px -12px rgba(0, 0, 0, 0.53);
    font-size: 30px;
    font-weight: 700;

    .name {
      color: black;
      margin-right: 20px;
    }

    .town {
      color: $pinkColor;
      font-weight: 700;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .profil-nav {
    display: flex;
    justify-content: center;

    .name-town-div {
      font-size: 20px;
    }
    a {
      display: none;
    }
  }

  .profil {
    display: block;
    .full-banner-div {
      position: relative;
      width: 100%;
      .name {
        display: none;
      }
    }

    .full-description-profil {
      width: auto;
      margin: 0;
      .card-div {
        .certified {
          font-size: 12px;
          width: 50%;
          margin: auto;
          margin-top: 10px;
          margin-bottom: 10px;
          padding: 3%;
        }
        .card-title {
          margin-left: 10px;
          font-size: 15px;
        }
        .view-div {
          font-size: 15px;
        }
        .num-connexion-div {
          font-size: 15px;
        }
        .description-text {
          font-size: 15px;
          text-align: justify;
        }
        .adresse-div {
          text-align: center;
          font-size: 13px;
        }
      }
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .profil-nav {
    display: flex;
    justify-content: center;

    .name-town-div {
      font-size: 20px;
    }
    a {
      display: none;
    }
  }

  .profil {
    display: block;
    .full-banner-div {
      display: flex;
      flex-direction: row;
      width: 100%;
      position: relative;

      .name {
        display: none;
      }

      .banner-photo {
        img {
          width: 100%;
        }
      }
      .btn-div {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          font-size: 10px;
          padding: 4%;
          font-weight: 700;
          margin-bottom: 30px;
          color: white;
          border-radius: 10px;
        }
      }
    }

    .profil-left-side {
      position: static;
      width: auto;
    }

    .full-description-profil {
      width: auto;

      .card-title {
        font-size: 13px;
      }

      .certified {
        font-size: 10px;
        width: 70%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 3%;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .profil-nav {
    display: flex;
    justify-content: center;

    .name-town-div {
      font-size: 20px;
    }
    a {
      display: none;
    }
  }

  .profil {
    display: block;

    .full-banner-div {
      display: flex;
      flex-direction: row;
      position: relative;
      width: 100%;
      .name {
        display: none;
      }

      .btn-div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          font-size: 15px;
          padding: 4%;
          font-weight: 700;
          margin-bottom: 30px;
          color: white;
          border-radius: 10px;
        }
        .btn-message {
          background-color: #77bff4;
        }
        .btn-call {
          background-color: $pinkColor;
        }
        .btn-favoris {
          background-color: #91d185;
        }
      }
    }
    .profil-left-side {
      position: static;
      width: auto;
    }

    .full-description-profil {
      width: auto;

      .card-div {
        .card-title {
          font-size: 16px;
        }

        .certified {
          font-size: 15px;
          width: 50%;
          margin: auto;
          margin-top: 10px;
          margin-bottom: 10px;
          padding: 3%;
        }
        .adresse-div {
          margin: auto;
          width: 80%;

          .google-map {
            margin: auto;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
}
