.card-div {
  .salons-girl-fulldiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .salons-girl-block {
      display: flex;
      flex-direction: column;
      border: 2px solid $pinkColor;
      border-radius: 10px;
      width: 30%;
      margin-bottom: 10px;
      img {
        border-radius: 10px;
        width: 100%;
        margin-bottom: 10px;
      }
      div {
        text-align: center;
        font-weight: 600;
        font-size: 20px;
      }
      button {
        background-color: $pinkColor;
        border: none;
        border-radius: 5px;
        margin: auto;
        color: white;
        font-size: 15px;
        font-weight: 700;
        padding: 5px;
        margin-bottom: 20px;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .card-div {
    .salons-girl-fulldiv {
      .salons-girl-block {
        div {
          font-size: 10px;
        }
        button {
          font-size: 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (min-width: 992px) {
}
