.profil {
  .modal {
    color: black;
    .modal-content {
      background-color: white;
    }
  }

  .comment-div {
    margin-top: 40px;
    width: 95%;
    margin: auto;
    font-size: 15px;
    .comment-heading {
      .comment-name {
        color: $pinkColor;
        font-style: italic;
      }
      .comment-date {
        color: $pinkColor;
        font-style: italic;
      }
    }
    .comment-line {
      margin-bottom: 5px;
      margin-top: 5px;
      width: 100%;
      height: 1px;
      background-color: $pinkColor;
    }
  }
  .review-inpute-box-top {
    border-bottom: solid 2px $pinkColor;
    button {
      font-size: 17px;
      font-weight: 600;
      color: black;
    }
    .account-name {
      color: $pinkColor;
    }
  }

  .review-inpute-box-bottom {
    border-top: solid 2px $pinkColor;
    display: block;
  }

  .review-full-center-box {
    display: flex;
    flex-direction: column;
    color: $pinkColor;
    label {
      font-size: 25px;
      color: black;
    }
    textarea {
      color: black;
      border-radius: 8px;
    }
    .review-subtil {
      color: black;
      margin-top: 20px;
      font-size: 0.7rem;
    }
  }
  .review-send-btn {
    background-color: $pinkColor;
    border: none;
    font-size: 20px;
    font-weight: 600;
  }
}
