.service-profil-div {
  display: flex;
  justify-content: space-evenly;
  div {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 600;
    color: $pinkColor;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .service-profil-div {
    flex-direction: column;
    justify-content: center;
    div {
      text-align: center;
      font-size: 15px;
      span {
        margin-bottom: 10px;
      }
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .service-profil-div {
    div {
      text-align: center;
      font-size: 12px;
      margin-left: none;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .service-profil-div {
    justify-content: space-evenly;
    div {
      font-size: 15px;
      text-align: center;
      span {
        margin-bottom: 10px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .service-profil-div {
    div {
      font-size: 16px;
      text-align: center;
      span {
        margin-bottom: 10px;
      }
    }
  }
}
