.card-div {
  .about-div {
    display: flex;
    justify-content: space-around;
    div {
      display: flex;
      flex-direction: column;
      div {
        color: black;
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 10px;
        .about-data {
          color: $pinkColor;
          font-weight: 700;
        }
      }
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .card-div {
    .about-div {
      div {
        div {
          font-size: 13px;
        }
      }
    }
  }
}
