.card-div {
  .number-girl-div {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .number-girl {
      font-size: 30px;
      font-weight: 800;
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}
