.gallery-profil {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .photo {
    overflow: hidden;
    max-width: 20%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-right: 20px;
    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
      overflow: hidden;
    }
    img:hover {
      transform: scale(1.5);
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (min-width: 992px) {
}
