.recrutment-div {
  width: 100%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 9px 11px 34px -12px rgba(0, 0, 0, 0.53);
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.blinking {
  animation: blinkingText 1.2s infinite;
}
@keyframes blinkingText {
  0% {
    color: $pinkColor;
  }
  49% {
    color: $pinkColor;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: $pinkColor;
  }
}
