.dispo-div {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 20px;

  .fullWeeks {
    text-align: right;

    h5 {
      font-size: 20px;
      font-weight: 600;
      color: $pinkColor;
      text-align: center;
    }
    .days {
      margin-left: -40px;
      font-size: 15px;
      font-weight: 700;
    }
    .hours {
      font-size: 13px;
    }
  }
  .dispo-data-div {
    h5 {
      margin-bottom: 40px;
    }
    .dispo-data {
      padding: 1%;
      border-radius: 5px;
      border: 2px $pinkColor solid;
      font-size: 25px;
      font-weight: 700;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .dispo-div {
    .fullWeeks {
      h5 {
        font-size: 14px;
      }
      .days {
        font-size: 13px;
      }
      .hours {
        font-size: 11px;
      }
    }
    .dispo-data-div {
      h5 {
        font-size: 13px;
        margin-bottom: 20px;
      }
      .dispo-data {
        font-size: 17px;
      }
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

@media only screen and (min-width: 1024px) {
}
