.review-profil-div {
  text-align: center;

  .number-likes-div {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .number-like {
      display: flex;
      margin-right: 10px;
      color: $pinkColor;
      align-items: center;
      img {
        margin-right: 10px;
      }
      .like-sentence {
        margin-left: 5px;
        color: black;
      }
    }

    .like-btn {
      background-color: $pinkColor;
      color: white;
      display: flex;
      padding: 10px;
      border-radius: 10px;
      width: fit-content;
      font-weight: 600;
      img {
        margin-left: 10px;
        width: 20px;
        height: 20px;
      }
    }
  }
  .review-number {
    color: $pinkColor;

    margin-bottom: 10;
  }
  .no-review {
    font-size: 20px;
    margin-bottom: 10px;
    span {
      color: $pinkColor;
    }
  }
  .be-first-review {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .review-btn {
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(84, 211, 84);
    border: rgb(84, 211, 84);
    border-radius: 10px;
    font-weight: 700;
    padding: 5px;
  }
  .signal-pro {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 15px;
  }
  .signal-pro-btn {
    padding: 6px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgb(218, 67, 67);
    font-weight: 500;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .review-profil-div {
    .number-likes-div {
      flex-direction: column;
      .like-btn {
        margin: auto;
        margin-top: 20px;
      }
    }
    .no-review {
      font-size: 14px;
    }
    .be-first-review {
      font-size: 14px;
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

@media only screen and (min-width: 1024px) {
}
