#main_profile {
  width: 100%;
  margin: 0 auto;
  background: white;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

#main_profile #contents {
  position: relative;
  width: 70%;
}

#contents .active {
  position: relative;
  display: block;
  height: auto;
}

#contents > div {
  position: absolute;
  display: none;
  padding: 2em;
  width: 100%;
  height: 100%;
  background: white;
}

#tabs {
  background: black;
  margin-top: -2px;
  width: 20%;
  color: white;
  padding: 2em;
  margin-bottom: 1px;
  text-align: center;
  position: relative;
}

#tabs > h3 {
  font-size: 1.3em;
  margin-bottom: 30px;
}

#tabs > div {
  position: sticky;
  top: 200px;
  bottom: 20px;
}

#tabs li {
  list-style: none;
  line-height: 3em;
  font-size: 0.9em;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.5s ease-out;
  margin-bottom: 30px;
  text-align: center;
}

#tabs li:hover {
  color: pink;
}

#tabs .activeColor {
  color: pink;
  font-weight: 700;
  border: 2px solid $pinkColor;
  border-radius: 15px;
}
