.full-dropup-menu {
  position: fixed;
  bottom: 0%;
  z-index: 5;
  width: 100%;
  .dropup-btn {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: black;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    border: solid 5px $pinkColor;
  }

  .dropup-link {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    a {
      text-align: center;
      margin: auto;
      margin-left: 0;
      margin-right: 0;
      padding: 10px;
      border-bottom: 1px solid $pinkColor;
    }
  }
  .show {
    display: flex;
  }

  .hide {
    display: none;
  }
}
@media only screen and (min-width: 379px) and (max-width: 1023px) {
}

@media only screen and (min-width: 1024px) {
  .full-dropup-menu {
    display: none;
  }
}
