#filles-salons {
  .admin-head {
    text-align: center;
    h1 {
      color: black;
      margin-bottom: 40px;
      font-weight: 800;
      span {
        color: $pinkColor;
      }
    }
    p {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  .girl-salons-search {
    margin-bottom: 40px;
    text-align: center;
    .search {
      background-color: white;
      width: 50%;
      padding: 1%;
      border: none;
      box-shadow: 0px 0px 78px -18px rgba(0, 0, 0, 0.75);
      border-radius: 10px;
      margin-bottom: 20px;
      margin-right: 20px;
    }
    .submit {
      background-color: black;
      width: fit-content;
      font-size: 20px;
    }
  }

  .result {
    table {
      thead {
        background-color: black;
        color: $pinkColor;
        th {
          text-align: center;
        }
      }
      tbody {
        text-align: center;

        td {
          border: 1px solid $pinkColor;
          vertical-align: middle;
        }

        button {
          color: white;
          font-size: 13px;
          font-weight: 700;
          border: none;
          border-radius: 5px;
          padding: 10px;
        }
        .valid {
          background-color: rgb(53, 223, 89);
        }

        .delete {
          background-color: rgb(223, 73, 53);
        }
        .certified {
          background-color: rgb(53, 141, 223);
        }
      }
    }
  }
}
