#add-delete-com {
  display: flex;

  p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .com-head {
    text-align: center;
    h1 {
      color: black;
      margin-bottom: 40px;
      font-weight: 800;
      span {
        color: $pinkColor;
      }
    }
  }

  .add-com {
    text-align: center;
    width: 50%;
    margin: auto;
    background-color: black;
    margin-bottom: 40px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius: 20px;

    h3 {
      color: white;
    }

    label {
      font-size: 20px;
      color: $pinkColor;
      font-weight: 700;
    }
    input {
      border: 2px solid $pinkColor;
      width: 70%;
      text-align: center;
      font-size: 20px;
      border-radius: 10px;
    }

    button {
      width: fit-content;
    }
  }

  .com-search {
    margin-bottom: 40px;
    text-align: center;
    .search {
      background-color: white;
      width: 50%;
      padding: 1%;
      border: none;
      box-shadow: 0px 0px 78px -18px rgba(0, 0, 0, 0.75);
      border-radius: 10px;
      margin-bottom: 20px;
      margin-right: 20px;
    }
    .submit {
      background-color: black;
      width: fit-content;
      font-size: 20px;
    }
  }
  .com-result {
    table {
      thead {
        background-color: black;
        color: $pinkColor;
        th {
          text-align: center;
        }
      }
      tbody {
        text-align: center;

        td {
          border: 1px solid $pinkColor;
          vertical-align: middle;
        }

        button {
          color: white;
          font-size: 13px;
          font-weight: 700;
          border: none;
          border-radius: 5px;
          padding: 10px;
        }

        .delete-com {
          background-color: rgb(223, 73, 53);
        }
      }
    }
  }
}
