#stats-com {
  .stats-com-head {
    text-align: center;
    h1 {
      color: black;
      margin-bottom: 40px;
      font-weight: 800;
      span {
        color: $pinkColor;
      }
    }

    p {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  .stats-com-result {
    table {
      thead {
        background-color: black;
        color: $pinkColor;
        th {
          text-align: center;
        }
      }
      tbody {
        text-align: center;

        td {
          border: 1px solid $pinkColor;
          vertical-align: middle;
        }

        button {
          color: white;
          font-size: 13px;
          font-weight: 700;
          border: none;
          border-radius: 5px;
          padding: 10px;
          background-color: $pinkColor;
        }

        .delete-com {
          background-color: rgb(223, 73, 53);
        }
      }
    }
  }
}
