#admin-main_profile {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: flex-start;
}

#admin-main_profile #admin-contents {
  position: relative;
  width: 80%;
}

#admin-contents .active {
  display: block;
  height: auto;
}

#admin-contents > div {
  position: absolute;
  display: none;
  padding: 2em;
  width: 100%;
  height: 100%;
  background: white;
}

#admin-tabs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: black;
  width: 20%;
  color: white;
  padding: 2em;
  height: 100%;
}

#admin-tabs li {
  text-align: center;
  list-style: none;
  font-size: 1.1em;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

#admin-tabs li:hover {
  color: $pinkColor;
}

#admin-tabs .activeColor {
  color: $pinkColor;
  border: 1px solid $pinkColor;
  border-radius: 10px;
  font-weight: 700;
  padding: 3%;
}
