.taqtaqmovies {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;

  h2 {
    margin: auto;
    font-size: 50px;
    font-weight: 700;
    border-bottom: solid 2px $pinkColor;
    margin-bottom: 50px;
  }

  p {
    margin: auto;
    font-size: 20px;
    margin-bottom: 50px;
  }

  .btn-div {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;

    a {
      font-weight: 700;
      background-color: $pinkColor;
      border-radius: 20px;
      padding: 2%;
      margin: auto;
      color: white;
    }
  }
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;

    .heading-title {
      font-size: 20px;
      font-weight: 700;
    }
    .heading-line {
      margin-left: 20px;
      margin-right: 20px;
      width: 100%;
      height: 2px;
      background-color: $pinkColor;
    }
    .heading-logo {
      width: 30px;
      height: 30px;
    }
  }
  .taqtaqmovies-result {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .mini-profil-block {
      width: 20%;
      justify-content: center;
      margin-bottom: 40px;
      margin-left: 20px;
      .profil-photo {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin-bottom: 10px;
        border-radius: 30px;
      }
      .profil-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0px 0px 38px 5px rgba(204, 204, 204, 1);
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 5px;

        .name-town {
          font-size: large;
          display: flex;
          justify-content: center;
          margin-top: 20px;
          margin-bottom: 10px;
        }
      }
    }
    .goto-profile-btn {
      padding: 5px;
      font-weight: 600;
      background-color: $pinkColor;
      color: white;
      border-radius: 5px;
      max-width: 60%;
      margin: auto;
    }
  }
}
