// Favoris
#dashboard {
  overflow: hidden;
  margin: 20px;
  border: solid 2px $pinkColor;
  border-radius: 20px;
  h3 {
    font-size: 25px;
    font-weight: 500;
    border-bottom: solid 2px $pinkColor;
    width: fit-content;
  }

  .member-favoris {
    display: flex;
    flex-direction: column;
    justify-content: center;

    // Galerie scroll horizontal
    #scrolly {
      padding: 10px;
      width: 100%;
      margin: auto;
      height: auto;
      display: flex;
      overflow-x: auto;

      .favoris-card {
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 200px;
        flex-shrink: 0;
        height: auto;
        margin-right: 20px;

        img {
          border-radius: 10px;
          display: block;
          max-width: 100%;
        }

        .goto-profil {
          border-radius: 5px;
          padding: 7px;
          background-color: $pinkColor;
          font-size: small;
          font-weight: 600;
          color: white;
          width: fit-content;
          margin: auto;
          position: relative;
          bottom: 15%;
        }

        .name-town-div {
          padding: 7px;
          border-radius: 10px;
          box-shadow: 10px 10px 37px -17px rgba(0, 0, 0, 0.75);
          margin: auto;
          font-size: medium;
          font-weight: 600;
        }
      }
    }

    .goto-search-profil {
      text-decoration: none;
      margin: auto;
      background-color: $pinkColor;
      font-size: 20px;
      font-weight: 600;
      padding: 10px;
      color: white;
      border-radius: 10px;
    }
  }

  // Messagerie

  .messagerie {
    margin-top: 40px;

    .message-block {
      border-radius: 10px;
      width: 100%;
      background-color: $pinkColor;
      height: 40vh;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.678);
      font-size: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  #dashboard {
    margin: 0;
    margin-bottom: 40px;
    h3 {
      margin: auto;
      margin-bottom: 10px;
    }

    .member-favoris {
      .goto-search-profil {
        font-size: 15px;
      }
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #dashboard {
    margin: 0;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 992px) {
}
