#profil {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: solid 2px $pinkColor;
  border-radius: 20px;
  h3 {
    font-size: 25px;
    font-weight: 500;
    border-bottom: solid 2px $pinkColor;
    width: fit-content;
  }

  .member-profil-form {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
      font-weight: 600;
      font-size: 20px;
      border: none;
      border-bottom: solid 2px $pinkColor;
      width: 100%;
      padding: 7px;
    }
    label {
      color: $pinkColor;
      font-size: 20px;
      font-weight: 600;
    }
    select {
      border: 2px $pinkColor solid;
      border-radius: 5px;
      width: fit-content;
    }

    .member-profil-submit {
      padding: 10px;
      border-radius: 10px;
      font-weight: 600;
      font-size: 25px;
      background-color: $pinkColor;
      color: white;
      width: auto;
      margin: auto;
    }
  }
  .member-delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      text-align: center;
      font-size: 20px;
      font-weight: 400;
    }
    button {
      padding: 10px;
      border-radius: 10px;
      font-weight: 600;
      font-size: 25px;
      background-color: $pinkColor;
      color: white;
      margin: auto;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  #profil {
    margin: 0;
    margin-bottom: 40px;
    .member-profil-form {
      .member-profil-submit {
        font-size: 15px;
      }
    }
    .member-delete {
      margin-bottom: 50px;
      p {
        font-size: small;
        text-align: justify;
      }
      button {
        font-size: 15px;
      }
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  #profil {
    margin: 0;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #profil {
    margin: 0;
    margin-bottom: 40px;
  }
}
