body {
  font-family: "Montserrat";
}

header .firstDivHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin: 0;
}

header .firstDivHeader .logo {
  width: 220px;
}

header .firstDivHeader a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

header .firstDivHeader .title {
  font-size: large;
}

header .firstDivHeader .heartlogo {
  width: 40px;
}

header .firstDivHeader .suisse {
  color: #e0a1ad;
}

.nav {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.nav a {
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.pinkline {
  height: 2px;
  background-color: #e0a1ad;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  header {
    display: none;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  header {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  header {
    display: none;
  }
}

footer {
  padding: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  color: #e0a1ad;
}

footer a {
  text-decoration: none;
  color: #e0a1ad;
  margin-bottom: 10px;
  font-weight: 700;
}

footer .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

footer .footer-nav .logo-div {
  background-color: white;
  border: solid 3px #e0a1ad;
  border-radius: 20px;
  padding: 1%;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-nav .logo-div img {
  margin: auto;
  width: 90%;
  height: 40px;
}

footer .footer-nav p {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer .footer-nav .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}

footer .footer-nav .nav-link a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  background-color: #e0a1ad;
  margin-left: 50px;
  border-radius: 10px;
  padding: 15px;
}

footer .rapid-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

footer .about-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

footer h3 {
  color: white;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e0a1ad;
  font-size: small;
  color: black;
  font-weight: 600;
  padding: 1%;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  footer .footer-nav {
    width: 100%;
  }
  footer .footer-nav .logo-div {
    margin-top: 40px;
  }
  footer .footer-nav p {
    font-size: 15px;
    margin: none;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  footer .footer-nav .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  footer .footer-nav .nav-link a {
    margin: 0;
    font-size: 15px;
    padding: 7px;
  }
  footer .rapid-link {
    display: none;
  }
  footer .about-link {
    display: none;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  footer .footer-nav {
    width: 100%;
  }
  footer .footer-nav .logo-div {
    margin-top: 40px;
  }
  footer .footer-nav p {
    font-size: 15px;
    margin: none;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  footer .footer-nav .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  footer .footer-nav .nav-link a {
    margin: 0;
    font-size: 15px;
    padding: 7px;
  }
  footer .rapid-link {
    display: none;
  }
  footer .about-link {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  footer .footer-nav {
    width: 100%;
  }
  footer .footer-nav .logo-div {
    margin-top: 40px;
  }
  footer .footer-nav p {
    font-size: 15px;
    margin: none;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  footer .footer-nav .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  footer .footer-nav .nav-link a {
    margin: 0;
    font-size: 15px;
    padding: 7px;
  }
  footer .rapid-link {
    display: none;
  }
  footer .about-link {
    display: none;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1500px) {
  footer {
    text-align: left;
  }
  footer .footer-nav .logo-div {
    margin-top: 40px;
  }
  footer .footer-nav p {
    font-size: 15px;
    margin: none;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  footer .footer-nav .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  footer .footer-nav .nav-link a {
    margin: 0;
    font-size: 15px;
    padding: 7px;
  }
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #e0a1ad;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #e0a1ad;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.openbtn:hover {
  background-color: #e0a1ad;
}

#main {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 10;
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

#main img {
  height: 40px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

@media only screen and (min-width: 991px) {
  .sidebar {
    display: none;
  }
  #main {
    display: none;
  }
}

.home-banner {
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-banner a .banner-photo {
  height: 60vh;
  width: 20vw;
}

.home-banner a .banner-photo img {
  width: 20vw;
  height: 100%;
}

.recents-subscription {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.recents-subscription h2 {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.recents-subscription .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.recents-subscription .heading .heading-title {
  font-size: 20px;
  font-weight: 700;
}

.recents-subscription .heading .heading-line {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  height: 2px;
  background-color: #e0a1ad;
}

.recents-subscription .heading .heading-logo {
  width: 30px;
  height: 30px;
}

.recents-subscription .mini-profil-block {
  width: 15%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.recents-subscription .mini-profil-block .profil-photo {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-bottom: 10px;
  border-radius: 30px;
}

.recents-subscription .mini-profil-block .profil-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 38px 5px #cccccc;
          box-shadow: 0px 0px 38px 5px #cccccc;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
}

.recents-subscription .mini-profil-block .profil-info .name-town {
  font-size: large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.recents-subscription .mini-profil-block .profil-info .sentence {
  font-size: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.recents-subscription .goto-profile-btn {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  background-color: #e0a1ad;
  color: white;
  border-radius: 5px;
  max-width: 50%;
  margin: auto;
}

.shop-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop-section .line {
  width: 90%;
  margin: auto;
  height: 3px;
  background-color: #e0a1ad;
  margin-bottom: 40px;
}

.shop-section h2 {
  font-size: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.shop-section .shop-box {
  background-color: #e0a1ad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.shop-section .shop-box h3 {
  margin: auto;
  color: white;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 40px;
}

.shop-section .shop-box .item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  margin: auto;
}

.shop-section .shop-box .item-box .shop-item {
  background-color: white;
  width: 500px;
  height: 300px;
  border-radius: 15px;
}

.shop-section .shop-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 20px;
  font-weight: 800;
  font-size: 30px;
  color: white;
  background-color: black;
  width: 30%;
  margin: auto;
  margin-top: 100px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 20px 42px 0px rgba(0, 0, 0, 0.212);
          box-shadow: 2px 20px 42px 0px rgba(0, 0, 0, 0.212);
}

.partner-section {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.partner-section .partner-fulldiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: auto;
}

.partner-section h2 {
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.partner-section .partner-banner {
  margin: auto;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 30%;
  height: 100px;
  border: black 2px solid;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  color: #e0a1ad;
}

.partner-section .partner-banner .partner-message {
  font-size: 15px;
  font-weight: 600;
}

.partner-section .line {
  background-color: #e0a1ad;
  height: 2px;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.partner-section .message-to-partner {
  margin: auto;
  font-size: 25px;
  font-weight: 700;
}

.partner-section a {
  padding: 1%;
  margin: auto;
  margin-top: 50px;
  text-decoration: none;
  background-color: #e0a1ad;
  font-size: 25px;
  font-weight: 700;
  color: white;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-box-shadow: 2px 20px 42px 0px #a8a8a8;
          box-shadow: 2px 20px 42px 0px #a8a8a8;
}

.livelink-section {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.livelink-section h2 {
  margin: auto;
  margin-bottom: 40px;
  font-size: 45px;
}

.livelink-section .livelink-box {
  padding: 5%;
  height: 30vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.livelink-section .livelink-box span {
  font-size: 35px;
  color: white;
  margin: auto;
}

.livelink-section .livelink-box a {
  background-color: #e0a1ad;
  text-decoration: none;
  padding: 20px;
  font-weight: 800;
  font-size: 30px;
  color: white;
  margin: auto;
  border-radius: 10px;
}

.recrutment-div {
  width: 100%;
  padding: 2%;
  border-radius: 10px;
  -webkit-box-shadow: 9px 11px 34px -12px rgba(0, 0, 0, 0.53);
          box-shadow: 9px 11px 34px -12px rgba(0, 0, 0, 0.53);
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.blinking {
  -webkit-animation: blinkingText 1.2s infinite;
          animation: blinkingText 1.2s infinite;
}

@-webkit-keyframes blinkingText {
  0% {
    color: #e0a1ad;
  }
  49% {
    color: #e0a1ad;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #e0a1ad;
  }
}

@keyframes blinkingText {
  0% {
    color: #e0a1ad;
  }
  49% {
    color: #e0a1ad;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #e0a1ad;
  }
}

.profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profil .full-banner-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  bottom: 10%;
  border-radius: 10px;
  -webkit-box-shadow: 9px 11px 34px -12px rgba(0, 0, 0, 0.53);
          box-shadow: 9px 11px 34px -12px rgba(0, 0, 0, 0.53);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2%;
  margin-bottom: 20px;
}

.profil .full-banner-div .name {
  font-size: 20px;
  font-weight: 700;
  margin: auto;
  margin-bottom: 10px;
}

.profil .full-banner-div .banner-photo {
  width: 100%;
}

.profil .full-banner-div .banner-photo img {
  border-radius: 10px;
  width: 100%;
}

.profil .full-banner-div .btn-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.profil .full-banner-div .btn-div a {
  padding: 4%;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 30px;
  color: white;
  border-radius: 10px;
}

.profil .full-banner-div .btn-div .btn-message {
  background-color: #77bff4;
}

.profil .full-banner-div .btn-div .btn-call {
  background-color: #e0a1ad;
}

.profil .full-banner-div .btn-div .btn-favoris {
  background-color: #91d185;
}

.profil .full-description-profil {
  width: 80%;
  margin-left: 20px;
}

.profil .full-description-profil .card-div {
  width: 100%;
  padding: 2%;
  border-radius: 10px;
  -webkit-box-shadow: 9px 11px 34px -12px rgba(0, 0, 0, 0.53);
          box-shadow: 9px 11px 34px -12px rgba(0, 0, 0, 0.53);
  margin-bottom: 30px;
}

.profil .full-description-profil .card-div .view-div {
  text-align: center;
  background-color: #e0a1ad;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  color: white;
  padding: 5%;
}

.profil .full-description-profil .card-div .num-connexion-div {
  text-align: center;
  background-color: #e0a1ad;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  color: white;
  padding: 5%;
}

.profil .full-description-profil .card-div .description-text {
  text-align: justify;
}

.profil .full-description-profil .certified {
  font-weight: 700;
  color: white;
  background-color: #91d185;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  padding: 1%;
  margin-bottom: 20px;
}

.profil .full-description-profil .card-title {
  font-size: 20px;
  font-weight: 700;
  color: black;
  border-bottom: solid 2px #e0a1ad;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 10px;
}

.profil-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 40px;
}

.profil-nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  color: white;
  padding: 10px;
  margin: auto;
  text-decoration: none;
  border-radius: 10px;
}

.profil-nav .return-home-btn {
  background-color: black;
}

.profil-nav .next-profil-btn {
  background-color: #e0a1ad;
}

.profil-nav .name-town-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 9px 11px 34px -12px rgba(0, 0, 0, 0.53);
          box-shadow: 9px 11px 34px -12px rgba(0, 0, 0, 0.53);
  font-size: 30px;
  font-weight: 700;
}

.profil-nav .name-town-div .name {
  color: black;
  margin-right: 20px;
}

.profil-nav .name-town-div .town {
  color: #e0a1ad;
  font-weight: 700;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .profil-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profil-nav .name-town-div {
    font-size: 20px;
  }
  .profil-nav a {
    display: none;
  }
  .profil {
    display: block;
  }
  .profil .full-banner-div {
    position: relative;
    width: 100%;
  }
  .profil .full-banner-div .name {
    display: none;
  }
  .profil .full-description-profil {
    width: auto;
    margin: 0;
  }
  .profil .full-description-profil .card-div .certified {
    font-size: 12px;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3%;
  }
  .profil .full-description-profil .card-div .card-title {
    margin-left: 10px;
    font-size: 15px;
  }
  .profil .full-description-profil .card-div .view-div {
    font-size: 15px;
  }
  .profil .full-description-profil .card-div .num-connexion-div {
    font-size: 15px;
  }
  .profil .full-description-profil .card-div .description-text {
    font-size: 15px;
    text-align: justify;
  }
  .profil .full-description-profil .card-div .adresse-div {
    text-align: center;
    font-size: 13px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .profil-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profil-nav .name-town-div {
    font-size: 20px;
  }
  .profil-nav a {
    display: none;
  }
  .profil {
    display: block;
  }
  .profil .full-banner-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    position: relative;
  }
  .profil .full-banner-div .name {
    display: none;
  }
  .profil .full-banner-div .banner-photo img {
    width: 100%;
  }
  .profil .full-banner-div .btn-div {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profil .full-banner-div .btn-div a {
    font-size: 10px;
    padding: 4%;
    font-weight: 700;
    margin-bottom: 30px;
    color: white;
    border-radius: 10px;
  }
  .profil .profil-left-side {
    position: static;
    width: auto;
  }
  .profil .full-description-profil {
    width: auto;
  }
  .profil .full-description-profil .card-title {
    font-size: 13px;
  }
  .profil .full-description-profil .certified {
    font-size: 10px;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .profil-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profil-nav .name-town-div {
    font-size: 20px;
  }
  .profil-nav a {
    display: none;
  }
  .profil {
    display: block;
  }
  .profil .full-banner-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    width: 100%;
  }
  .profil .full-banner-div .name {
    display: none;
  }
  .profil .full-banner-div .btn-div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profil .full-banner-div .btn-div a {
    font-size: 15px;
    padding: 4%;
    font-weight: 700;
    margin-bottom: 30px;
    color: white;
    border-radius: 10px;
  }
  .profil .full-banner-div .btn-div .btn-message {
    background-color: #77bff4;
  }
  .profil .full-banner-div .btn-div .btn-call {
    background-color: #e0a1ad;
  }
  .profil .full-banner-div .btn-div .btn-favoris {
    background-color: #91d185;
  }
  .profil .profil-left-side {
    position: static;
    width: auto;
  }
  .profil .full-description-profil {
    width: auto;
  }
  .profil .full-description-profil .card-div .card-title {
    font-size: 16px;
  }
  .profil .full-description-profil .card-div .certified {
    font-size: 15px;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3%;
  }
  .profil .full-description-profil .card-div .adresse-div {
    margin: auto;
    width: 80%;
  }
  .profil .full-description-profil .card-div .adresse-div .google-map {
    margin: auto;
  }
}

.gallery-profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-profil .photo {
  overflow: hidden;
  max-width: 20%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-right: 20px;
}

.gallery-profil .photo img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  overflow: hidden;
}

.gallery-profil .photo img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.card-div .about-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-div .about-div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-div .about-div div div {
  color: black;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 10px;
}

.card-div .about-div div div .about-data {
  color: #e0a1ad;
  font-weight: 700;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .card-div .about-div div div {
    font-size: 13px;
  }
}

.service-profil-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.service-profil-div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
  font-weight: 600;
  color: #e0a1ad;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .service-profil-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .service-profil-div div {
    text-align: center;
    font-size: 15px;
  }
  .service-profil-div div span {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .service-profil-div div {
    text-align: center;
    font-size: 12px;
    margin-left: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .service-profil-div {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .service-profil-div div {
    font-size: 15px;
    text-align: center;
  }
  .service-profil-div div span {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .service-profil-div div {
    font-size: 16px;
    text-align: center;
  }
  .service-profil-div div span {
    margin-bottom: 10px;
  }
}

.profil-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tarif-div {
  text-align: center;
}

.tarif-div span {
  font-weight: 600;
  font-size: 18px;
}

.tarif-div .payments-medium {
  font-size: 15px;
  color: #e0a1ad;
}

.tarif-div img {
  margin-bottom: 20px;
}

.review-profil-div {
  text-align: center;
}

.review-profil-div .number-likes-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.review-profil-div .number-likes-div .number-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  color: #e0a1ad;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review-profil-div .number-likes-div .number-like img {
  margin-right: 10px;
}

.review-profil-div .number-likes-div .number-like .like-sentence {
  margin-left: 5px;
  color: black;
}

.review-profil-div .number-likes-div .like-btn {
  background-color: #e0a1ad;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
}

.review-profil-div .number-likes-div .like-btn img {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.review-profil-div .review-number {
  color: #e0a1ad;
  margin-bottom: 10;
}

.review-profil-div .no-review {
  font-size: 20px;
  margin-bottom: 10px;
}

.review-profil-div .no-review span {
  color: #e0a1ad;
}

.review-profil-div .be-first-review {
  font-size: 20px;
  margin-bottom: 40px;
}

.review-profil-div .review-btn {
  font-size: 20px;
  margin-bottom: 20px;
  color: white;
  background-color: #54d354;
  border: #54d354;
  border-radius: 10px;
  font-weight: 700;
  padding: 5px;
}

.review-profil-div .signal-pro {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 15px;
}

.review-profil-div .signal-pro-btn {
  padding: 6px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #da4343;
  font-weight: 500;
  margin-bottom: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .review-profil-div .number-likes-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .review-profil-div .number-likes-div .like-btn {
    margin: auto;
    margin-top: 20px;
  }
  .review-profil-div .no-review {
    font-size: 14px;
  }
  .review-profil-div .be-first-review {
    font-size: 14px;
  }
}

.profil .modal {
  color: black;
}

.profil .modal .modal-content {
  background-color: white;
}

.profil .comment-div {
  margin-top: 40px;
  width: 95%;
  margin: auto;
  font-size: 15px;
}

.profil .comment-div .comment-heading .comment-name {
  color: #e0a1ad;
  font-style: italic;
}

.profil .comment-div .comment-heading .comment-date {
  color: #e0a1ad;
  font-style: italic;
}

.profil .comment-div .comment-line {
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
  height: 1px;
  background-color: #e0a1ad;
}

.profil .review-inpute-box-top {
  border-bottom: solid 2px #e0a1ad;
}

.profil .review-inpute-box-top button {
  font-size: 17px;
  font-weight: 600;
  color: black;
}

.profil .review-inpute-box-top .account-name {
  color: #e0a1ad;
}

.profil .review-inpute-box-bottom {
  border-top: solid 2px #e0a1ad;
  display: block;
}

.profil .review-full-center-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #e0a1ad;
}

.profil .review-full-center-box label {
  font-size: 25px;
  color: black;
}

.profil .review-full-center-box textarea {
  color: black;
  border-radius: 8px;
}

.profil .review-full-center-box .review-subtil {
  color: black;
  margin-top: 20px;
  font-size: 0.7rem;
}

.profil .review-send-btn {
  background-color: #e0a1ad;
  border: none;
  font-size: 20px;
  font-weight: 600;
}

.dispo-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 20px;
}

.dispo-div .fullWeeks {
  text-align: right;
}

.dispo-div .fullWeeks h5 {
  font-size: 20px;
  font-weight: 600;
  color: #e0a1ad;
  text-align: center;
}

.dispo-div .fullWeeks .days {
  margin-left: -40px;
  font-size: 15px;
  font-weight: 700;
}

.dispo-div .fullWeeks .hours {
  font-size: 13px;
}

.dispo-div .dispo-data-div h5 {
  margin-bottom: 40px;
}

.dispo-div .dispo-data-div .dispo-data {
  padding: 1%;
  border-radius: 5px;
  border: 2px #e0a1ad solid;
  font-size: 25px;
  font-weight: 700;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .dispo-div .fullWeeks h5 {
    font-size: 14px;
  }
  .dispo-div .fullWeeks .days {
    font-size: 13px;
  }
  .dispo-div .fullWeeks .hours {
    font-size: 11px;
  }
  .dispo-div .dispo-data-div h5 {
    font-size: 13px;
    margin-bottom: 20px;
  }
  .dispo-div .dispo-data-div .dispo-data {
    font-size: 17px;
  }
}

.card-div .salons-girl-fulldiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-div .salons-girl-fulldiv .salons-girl-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #e0a1ad;
  border-radius: 10px;
  width: 30%;
  margin-bottom: 10px;
}

.card-div .salons-girl-fulldiv .salons-girl-block img {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.card-div .salons-girl-fulldiv .salons-girl-block div {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.card-div .salons-girl-fulldiv .salons-girl-block button {
  background-color: #e0a1ad;
  border: none;
  border-radius: 5px;
  margin: auto;
  color: white;
  font-size: 15px;
  font-weight: 700;
  padding: 5px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .card-div .salons-girl-fulldiv .salons-girl-block div {
    font-size: 10px;
  }
  .card-div .salons-girl-fulldiv .salons-girl-block button {
    font-size: 10px;
  }
}

.card-div .number-girl-div {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-div .number-girl-div .number-girl {
  font-size: 30px;
  font-weight: 800;
}

.card-div .full-adresse {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 15px;
}

.taqtaqmovies {
  margin-top: 50px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.taqtaqmovies h2 {
  margin: auto;
  font-size: 50px;
  font-weight: 700;
  border-bottom: solid 2px #e0a1ad;
  margin-bottom: 50px;
}

.taqtaqmovies p {
  margin: auto;
  font-size: 20px;
  margin-bottom: 50px;
}

.taqtaqmovies .btn-div {
  margin: auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.taqtaqmovies .btn-div a {
  font-weight: 700;
  background-color: #e0a1ad;
  border-radius: 20px;
  padding: 2%;
  margin: auto;
  color: white;
}

.taqtaqmovies .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.taqtaqmovies .title .heading-title {
  font-size: 20px;
  font-weight: 700;
}

.taqtaqmovies .title .heading-line {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  height: 2px;
  background-color: #e0a1ad;
}

.taqtaqmovies .title .heading-logo {
  width: 30px;
  height: 30px;
}

.taqtaqmovies .taqtaqmovies-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.taqtaqmovies .taqtaqmovies-result .mini-profil-block {
  width: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  margin-left: 20px;
}

.taqtaqmovies .taqtaqmovies-result .mini-profil-block .profil-photo {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-bottom: 10px;
  border-radius: 30px;
}

.taqtaqmovies .taqtaqmovies-result .mini-profil-block .profil-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 38px 5px #cccccc;
          box-shadow: 0px 0px 38px 5px #cccccc;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
}

.taqtaqmovies .taqtaqmovies-result .mini-profil-block .profil-info .name-town {
  font-size: large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.taqtaqmovies .taqtaqmovies-result .goto-profile-btn {
  padding: 5px;
  font-weight: 600;
  background-color: #e0a1ad;
  color: white;
  border-radius: 5px;
  max-width: 60%;
  margin: auto;
}

.search-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-section .heading {
  width: auto;
  font-weight: 700;
  font-size: 40px;
  border-bottom: 2px solid #e0a1ad;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.search-section .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.search-section .title .heading-title {
  font-size: 20px;
  font-weight: 700;
}

.search-section .title .heading-line {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  height: 2px;
  background-color: #e0a1ad;
}

.search-section .title .heading-logo {
  width: 30px;
  height: 30px;
}

.search-section .search-result {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-section .search-result .mini-profil-block {
  width: 22%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.search-section .search-result .mini-profil-block .profil-photo {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-bottom: 10px;
  border-radius: 30px;
}

.search-section .search-result .mini-profil-block .profil-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 38px 5px #cccccc;
          box-shadow: 0px 0px 38px 5px #cccccc;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
}

.search-section .search-result .mini-profil-block .profil-info .name-town {
  font-size: large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.search-section .search-result .goto-profile-btn {
  padding: 5px;
  font-weight: 600;
  background-color: #e0a1ad;
  color: white;
  border-radius: 5px;
  max-width: 60%;
  margin: auto;
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  padding: 20px;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.search-box .search-input {
  width: 80%;
  margin: auto;
  font-size: 20px;
  border-radius: 10px;
  border: #e0a1ad solid 2px;
  padding: 4px;
  margin-bottom: 50px;
}

.search-box .search-option-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 90%;
  margin-bottom: 20px;
}

.search-box .search-option-div .select-div {
  margin-left: 20px;
  margin-bottom: 20px;
}

.search-box .search-option-div .select-div label {
  color: #e0a1ad;
  font-weight: 600;
}

.search-box .search-option-div .select-div select {
  border: solid 3px #e0a1ad;
  height: 30px;
}

.search-box button {
  width: auto;
  margin: auto;
  color: white;
  background-color: #e0a1ad;
  padding: 1%;
  font-weight: 700;
  border-radius: 10px;
}

.conciergerie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
  width: 80%;
  margin: auto;
}

.conciergerie h2 {
  width: auto;
  font-weight: 700;
  font-size: 40px;
  border-bottom: 2px solid #e0a1ad;
  margin: auto;
  margin-bottom: 50px;
}

.conciergerie h3 {
  width: auto;
  font-weight: 700;
  font-size: 20px;
  border-bottom: 2px solid #e0a1ad;
  margin: auto;
  margin-bottom: 30px;
}

.conciergerie p {
  font-size: 100%;
  margin-bottom: 40px;
  text-align: justify;
}

.conciergerie a {
  width: auto;
  margin-top: 40px;
  color: white;
  padding: 1.5%;
  font-size: 35px;
  font-weight: 700;
  background-color: #e0a1ad;
  margin: auto;
  border-radius: 10px;
  -webkit-box-shadow: 2px 20px 42px 0px #a8a8a8;
          box-shadow: 2px 20px 42px 0px #a8a8a8;
}

@media only screen and (max-width: 479px) {
  .conciergerie h2 {
    font-size: 20px;
  }
  .conciergerie a {
    font-size: 25px;
    padding: 5%;
    margin-bottom: 100px;
  }
}

.map {
  padding-top: 50px;
}

.map h1 {
  font-size: 40px;
  border-bottom: 2px solid #e0a1ad;
  margin: auto;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 30px;
}

.map .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 80%;
}

.map .title .heading-title {
  font-size: 20px;
  font-weight: 700;
}

.map .title .heading-line {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  height: 2px;
  background-color: #e0a1ad;
}

.map .title .heading-logo {
  width: 30px;
  height: 30px;
}

.map .map-search-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.map .map-search-input input {
  padding-left: 10px;
  border: 2px solid #e0a1ad;
  border-radius: 10px;
  height: 40px;
  margin: auto;
  margin-bottom: 20px;
  width: 80%;
}

.map .map-search-input select {
  border: 2px solid #e0a1ad;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-bottom: 20px;
}

.map-result {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map-result .mini-profil-block {
  width: 22%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.map-result .mini-profil-block .profil-photo {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-bottom: 10px;
  border-radius: 30px;
}

.map-result .mini-profil-block .profil-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 38px 5px #cccccc;
          box-shadow: 0px 0px 38px 5px #cccccc;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
}

.map-result .mini-profil-block .profil-info .name-town {
  font-size: large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.map-result .goto-profile-btn {
  padding: 5px;
  font-weight: 600;
  background-color: #e0a1ad;
  color: white;
  border-radius: 5px;
  max-width: 60%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7%;
}

.contact h2 {
  font-size: 40px;
  border-bottom: 2px solid #e0a1ad;
  margin: auto;
  font-weight: 700;
}

.contact span {
  margin: auto;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #e0a1ad;
  text-align: center;
  width: 70%;
}

.contact-form {
  max-width: 80%;
  margin: auto;
  margin-top: 50px;
  background-color: black;
  padding: 5%;
  border-radius: 10px;
}

.feedback-input {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: white;
  border: 2px solid #e0a1ad;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #e0a1ad;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  background: #e0a1ad;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 700;
  margin: auto;
}

[type="submit"]:hover {
  background: #e0a1ad;
}

@media only screen and (max-width: 479px) {
  .contact-form {
    width: 80%;
    margin: auto;
    margin-top: 40px;
  }
  .contact h2 {
    font-size: 15px;
  }
  .contact span {
    font-size: 12px;
    text-align: justify;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .contact h2 {
    font-size: 22px;
  }
  .contact span {
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact h2 {
    font-size: 30px;
  }
  .contact span {
    font-size: 20px;
    text-align: justify;
  }
}

.full-dropup-menu {
  position: fixed;
  bottom: 0%;
  z-index: 5;
  width: 100%;
}

.full-dropup-menu .dropup-btn {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: black;
  margin-left: 0;
  margin-right: 0;
  padding: 10px;
  border: solid 5px #e0a1ad;
}

.full-dropup-menu .dropup-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
}

.full-dropup-menu .dropup-link a {
  text-align: center;
  margin: auto;
  margin-left: 0;
  margin-right: 0;
  padding: 10px;
  border-bottom: 1px solid #e0a1ad;
}

.full-dropup-menu .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.full-dropup-menu .hide {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .full-dropup-menu {
    display: none;
  }
}

#main_profile {
  width: 100%;
  margin: 0 auto;
  background: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

#main_profile #contents {
  position: relative;
  width: 70%;
}

#contents .active {
  position: relative;
  display: block;
  height: auto;
}

#contents > div {
  position: absolute;
  display: none;
  padding: 2em;
  width: 100%;
  height: 100%;
  background: white;
}

#tabs {
  background: black;
  margin-top: -2px;
  width: 20%;
  color: white;
  padding: 2em;
  margin-bottom: 1px;
  text-align: center;
  position: relative;
}

#tabs > h3 {
  font-size: 1.3em;
  margin-bottom: 30px;
}

#tabs > div {
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
  bottom: 20px;
}

#tabs li {
  list-style: none;
  line-height: 3em;
  font-size: 0.9em;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  margin-bottom: 30px;
  text-align: center;
}

#tabs li:hover {
  color: pink;
}

#tabs .activeColor {
  color: pink;
  font-weight: 700;
  border: 2px solid #e0a1ad;
  border-radius: 15px;
}

#dashboard {
  overflow: hidden;
  margin: 20px;
  border: solid 2px #e0a1ad;
  border-radius: 20px;
}

#dashboard h3 {
  font-size: 25px;
  font-weight: 500;
  border-bottom: solid 2px #e0a1ad;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#dashboard .member-favoris {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#dashboard .member-favoris #scrolly {
  padding: 10px;
  width: 100%;
  margin: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
}

#dashboard .member-favoris #scrolly .favoris-card {
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: auto;
  margin-right: 20px;
}

#dashboard .member-favoris #scrolly .favoris-card img {
  border-radius: 10px;
  display: block;
  max-width: 100%;
}

#dashboard .member-favoris #scrolly .favoris-card .goto-profil {
  border-radius: 5px;
  padding: 7px;
  background-color: #e0a1ad;
  font-size: small;
  font-weight: 600;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  position: relative;
  bottom: 15%;
}

#dashboard .member-favoris #scrolly .favoris-card .name-town-div {
  padding: 7px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 37px -17px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 37px -17px rgba(0, 0, 0, 0.75);
  margin: auto;
  font-size: medium;
  font-weight: 600;
}

#dashboard .member-favoris .goto-search-profil {
  text-decoration: none;
  margin: auto;
  background-color: #e0a1ad;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  color: white;
  border-radius: 10px;
}

#dashboard .messagerie {
  margin-top: 40px;
}

#dashboard .messagerie .message-block {
  border-radius: 10px;
  width: 100%;
  background-color: #e0a1ad;
  height: 40vh;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.678);
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  #dashboard {
    margin: 0;
    margin-bottom: 40px;
  }
  #dashboard h3 {
    margin: auto;
    margin-bottom: 10px;
  }
  #dashboard .member-favoris .goto-search-profil {
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #dashboard {
    margin: 0;
    margin-bottom: 40px;
  }
}

#profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  border: solid 2px #e0a1ad;
  border-radius: 20px;
}

#profil h3 {
  font-size: 25px;
  font-weight: 500;
  border-bottom: solid 2px #e0a1ad;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#profil .member-profil-form {
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#profil .member-profil-form input {
  font-weight: 600;
  font-size: 20px;
  border: none;
  border-bottom: solid 2px #e0a1ad;
  width: 100%;
  padding: 7px;
}

#profil .member-profil-form label {
  color: #e0a1ad;
  font-size: 20px;
  font-weight: 600;
}

#profil .member-profil-form select {
  border: 2px #e0a1ad solid;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#profil .member-profil-form .member-profil-submit {
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 25px;
  background-color: #e0a1ad;
  color: white;
  width: auto;
  margin: auto;
}

#profil .member-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#profil .member-delete p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

#profil .member-delete button {
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 25px;
  background-color: #e0a1ad;
  color: white;
  margin: auto;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  #profil {
    margin: 0;
    margin-bottom: 40px;
  }
  #profil .member-profil-form .member-profil-submit {
    font-size: 15px;
  }
  #profil .member-delete {
    margin-bottom: 50px;
  }
  #profil .member-delete p {
    font-size: small;
    text-align: justify;
  }
  #profil .member-delete button {
    font-size: 15px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  #profil {
    margin: 0;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #profil {
    margin: 0;
    margin-bottom: 40px;
  }
}

#info {
  margin: 20px;
  border: solid 2px #e0a1ad;
  border-radius: 20px;
}

#info .title {
  font-size: 25px;
  border-bottom: solid 2px #e0a1ad;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 40px;
}

#info .hours-form-div {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

#info .hours-form-div p {
  text-align: center;
}

#info .hours-form-div .hours-form {
  padding: 3%;
  -webkit-box-shadow: 4px 9px 22px -8px rgba(0, 0, 0, 0.75);
          box-shadow: 4px 9px 22px -8px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
  margin: auto;
}

#info .hours-form-div .hours-form .fullWeek {
  text-align: center;
}

#info .hours-form-div .hours-form .fullWeek h5 {
  font-size: 15px;
  color: #e0a1ad;
}

#info .hours-form-div .hours-form .fullWeek div {
  text-align: right;
}

#info .hours-form-div .hours-form .fullWeek div label {
  font-size: 12px;
  font-weight: 600;
  margin-right: 10px;
}

#info .hours-form-div .hours-form .fullWeek div select {
  font-size: 12px;
  border: 1px #e0a1ad solid;
  border-radius: 5px;
}

#info .dispo-form-div {
  text-align: center;
  margin-bottom: 20px;
}

#info .dispo-form-div p {
  font-size: 20px;
}

#info .dispo-form-div input {
  border: 2px black solid;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  color: #e0a1ad;
  width: 50%;
}

#info .first-full-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
}

#info .first-full-row .first-form-div {
  width: 50%;
}

#info .first-full-row .first-form-div label {
  font-size: 15px;
  font-weight: 500;
}

#info .first-full-row .first-form-div input {
  padding-left: 5px;
  width: 90%;
  font-weight: 500;
  border: #e0a1ad 2px solid;
  border-radius: 5px;
}

#info .first-full-row .first-form-div select {
  border: 2px #e0a1ad solid;
  background-color: white;
  border-radius: 5px;
}

#info .first-full-row .second-form-div {
  width: 50%;
}

#info .first-full-row .second-form-div label {
  font-size: 15px;
  font-weight: 500;
}

#info .first-full-row .second-form-div input {
  padding-left: 5px;
  width: 90%;
  font-weight: 500;
  border: #e0a1ad 2px solid;
  border-radius: 5px;
}

#info .first-full-row .second-form-div select {
  border: 2px #e0a1ad solid;
  background-color: white;
  border-radius: 5px;
}

#info .service-title {
  font-size: 15px;
  font-weight: 500;
}

#info .service-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#info .service-div .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

#info .second-full-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

#info .second-full-row div {
  width: 100%;
}

#info .second-full-row .first-checkbox-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#info .second-full-row .first-checkbox-div .payments-div {
  margin-right: 50px;
}

#info .second-full-row .first-checkbox-div .payments-div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#info .second-full-row .first-checkbox-div .payments-div div label {
  margin-left: 5px;
}

#info .second-full-row .second-checkbox-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#info .second-full-row .second-checkbox-div .language-div {
  margin-right: 50px;
}

#info .second-full-row .second-checkbox-div .language-div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#info .second-full-row .second-checkbox-div .language-div div label {
  margin-left: 5px;
}

#info .second-full-row input {
  padding-left: 5px;
  border: #e0a1ad 2px solid;
  border-radius: 5px;
}

#info .second-full-row .text-input {
  width: 90%;
}

#info .second-full-row textarea {
  padding-left: 5px;
  width: 100%;
  border: #e0a1ad 2px solid;
  border-radius: 5px;
}

#info .second-full-row label {
  font-size: 15px;
  font-weight: 500;
  color: black;
}

#info .second-full-row p {
  font-size: 12px;
}

#info .pro-profil-submit {
  width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  #info {
    margin: 0px;
    margin-bottom: 60px;
  }
  #info .title {
    font-size: 20px;
  }
  #info .hours-form-div {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
  }
  #info .hours-form-div p {
    text-align: center;
  }
  #info .hours-form-div .hours-form {
    padding: 3%;
    -webkit-box-shadow: 4px 9px 22px -8px rgba(0, 0, 0, 0.75);
            box-shadow: 4px 9px 22px -8px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    margin: auto;
  }
  #info .hours-form-div .hours-form .fullWeek {
    text-align: center;
  }
  #info .hours-form-div .hours-form .fullWeek h5 {
    font-size: 15px;
    color: #e0a1ad;
  }
  #info .hours-form-div .hours-form .fullWeek div {
    text-align: right;
  }
  #info .hours-form-div .hours-form .fullWeek div label {
    font-size: 9px;
    font-weight: 600;
    margin-right: 10px;
  }
  #info .hours-form-div .hours-form .fullWeek div select {
    font-size: 9px;
    border: 1px #e0a1ad solid;
    border-radius: 5px;
  }
  #info .dispo-form-div {
    width: 100%;
  }
  #info .dispo-form-div p {
    font-size: 15px;
  }
  #info .dispo-form-div input {
    width: 100%;
  }
  #info .first-full-row {
    display: block;
  }
  #info .first-full-row .first-form-div {
    width: auto;
  }
  #info .first-full-row .second-form-div {
    width: auto;
  }
  #info .service-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #info .service-div .service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
  #info .second-full-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #info .second-full-row .first-checkbox-div {
    display: block;
  }
  #info .second-full-row .second-checkbox-div {
    display: block;
  }
  #info #description {
    width: 100%;
  }
  #info .pro-profil-submit {
    margin-bottom: 50px;
    width: 100%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 1023px) {
  #info {
    margin: 0;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1300px) {
  #info .dispo-form-div {
    width: 100%;
  }
  #info .dispo-form-div p {
    font-size: 12px;
  }
  #info .dispo-form-div input {
    width: 50%;
  }
  #info .first-full-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #info .first-full-row .first-form-div {
    width: 50%;
  }
  #info .first-full-row .first-form-div label {
    font-size: 12px;
    font-weight: 500;
  }
  #info .first-full-row .first-form-div input {
    width: 90%;
    font-weight: 500;
    border: #e0a1ad 2px solid;
    border-radius: 5px;
  }
  #info .first-full-row .second-form-div label {
    font-size: 12px;
  }
  #info .second-full-row label {
    font-size: 12px;
  }
  #info .second-full-row .payments-div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #info .second-full-row .payments-div div label {
    margin-left: 5px;
    font-size: 9px;
  }
  #info .second-full-row .language-div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #info .second-full-row .language-div div label {
    margin-left: 5px;
    font-size: 9px;
  }
  #info .service-div {
    font-size: 12px;
  }
}

#comm {
  margin: 20px;
  border: solid 2px #e0a1ad;
  border-radius: 20px;
}

#comm h3 {
  border-bottom: 2px solid #e0a1ad;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 20px;
}

#comm .full-second-div {
  margin-bottom: 30px;
  width: 100%;
}

#comm .full-second-div .no-comment-div {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-box-shadow: 4px 9px 22px -8px rgba(0, 0, 0, 0.75);
          box-shadow: 4px 9px 22px -8px rgba(0, 0, 0, 0.75);
  padding: 3%;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #e0a1ad;
}

#comm .full-second-div .comment-validation {
  margin-bottom: 40px;
  padding: 3%;
  border-radius: 10px;
  -webkit-box-shadow: 4px 9px 22px -8px rgba(0, 0, 0, 0.75);
          box-shadow: 4px 9px 22px -8px rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#comm .full-second-div .comment-validation .comm-valid-box {
  width: 60%;
}

#comm .full-second-div .comment-validation .comm-valid-box .comm-head-text .comm-pseudo {
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  border-bottom: #e0a1ad 2px solid;
}

#comm .full-second-div .comment-validation .comm-valid-box .comm-head-text .comm-text {
  text-align: justify;
  margin-top: 5px;
}

#comm .full-second-div .comment-validation .comm-btn-div {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#comm .full-second-div .comment-validation .comm-btn-div .comm-valid-btn {
  background-color: #26c53c;
  border-radius: 30px;
  padding: 10px;
  color: white;
  font-weight: 700;
}

#comm .full-second-div .comment-validation .comm-btn-div .comm-delete-btn {
  background-color: #ff2d2d;
  border-radius: 30px;
  padding: 10px;
  color: white;
  font-weight: 700;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  #comm {
    margin: 0;
    margin-bottom: 40px;
  }
  #comm h3 {
    font-size: 20px;
  }
  #comm .full-second-div .no-comment-div {
    padding: 6%;
    font-size: 12px;
  }
  #comm .full-second-div .comment-validation {
    display: block;
  }
  #comm .full-second-div .comment-validation .comm-valid-box {
    width: 100%;
  }
  #comm .full-second-div .comment-validation .comm-valid-box .comm-head-text .comm-pseudo {
    font-size: 15px;
  }
  #comm .full-second-div .comment-validation .comm-valid-box .comm-head-text .comm-text {
    font-size: 12px;
  }
  #comm .full-second-div .comment-validation .comm-btn-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 10px;
  }
  #comm .full-second-div .comment-validation .comm-btn-div .comm-valid-btn img {
    width: 10px;
    height: 10px;
  }
  #comm .full-second-div .comment-validation .comm-btn-div .comm-delete-btn img {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  #comm {
    margin-bottom: 40px;
  }
  #comm h3 {
    font-size: 20px;
  }
  #comm .full-second-div .comment-validation .comm-valid-box {
    width: 100%;
  }
  #comm .full-second-div .comment-validation .comm-valid-box .comm-head-text .comm-pseudo {
    font-size: 15px;
  }
  #comm .full-second-div .comment-validation .comm-valid-box .comm-head-text .comm-text {
    font-size: 12px;
  }
  #comm .full-second-div .comment-validation .comm-btn-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 10px;
  }
  #comm .full-second-div .comment-validation .comm-btn-div .comm-valid-btn img {
    width: 10px;
    height: 10px;
  }
  #comm .full-second-div .comment-validation .comm-btn-div .comm-delete-btn img {
    width: 40px;
    height: 40px;
  }
}

#gallery {
  margin: 20px;
  border: solid 2px #e0a1ad;
  border-radius: 20px;
}

#gallery h3 {
  border-bottom: 2px solid #e0a1ad;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#gallery .gallery-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  height: auto;
  margin-bottom: 30px;
}

#gallery .gallery-div .gallery-photo-div {
  width: 30%;
  margin-right: 20px;
}

#gallery .gallery-div .gallery-photo-div img {
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-bottom: 15px;
}

#gallery .gallery-div .gallery-photo-div .btn-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
}

#gallery .gallery-div .gallery-photo-div .btn-div .btn-modif {
  background-color: #0fb30f;
  border: none;
  border-radius: 5px;
  color: white;
}

#gallery .gallery-div .gallery-photo-div .btn-div .btn-delete {
  background-color: #bb3a19;
  border: none;
  border-radius: 5px;
  color: white;
}

#gallery .gallery-div .gallery-video-div {
  width: 30%;
  margin-right: 20px;
}

#gallery .gallery-div .gallery-video-div img {
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-bottom: 15px;
}

#gallery .gallery-div .gallery-video-div .btn-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
}

#gallery .gallery-div .gallery-video-div .btn-div .btn-modif {
  background-color: #0fb30f;
  border: none;
  border-radius: 5px;
  color: white;
}

#gallery .gallery-div .gallery-video-div .btn-div .btn-delete {
  background-color: #bb3a19;
  border: none;
  border-radius: 5px;
  color: white;
}

#stats {
  margin: 20px;
  border: solid 2px #e0a1ad;
  border-radius: 20px;
}

#stats h3 {
  border-bottom: 2px solid #e0a1ad;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 40px;
}

#stats h4 {
  font-weight: 600;
  font-size: 15px;
  border-bottom: 2px solid #e0a1ad;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-bottom: 20px;
}

#stats .first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
}

#stats .first-row .first-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 2%;
  border: solid 2px #e0a1ad;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#stats .first-row .second-div {
  padding: 2%;
  border: solid 2px #e0a1ad;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#stats .second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 70%;
}

#stats .second-row .first-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2%;
  border: solid 2px #e0a1ad;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-bottom: 30px;
}

#stats .second-row .first-div .grid-view-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

#stats .second-row .first-div .grid-view-photo .photo {
  margin-right: 10px;
  width: 100%;
}

#stats .second-row .first-div .grid-view-photo .photo img {
  border-radius: 10px;
  width: 100%;
}

#stats .second-row .first-div .grid-view-photo .photo span {
  border-radius: 10px;
  padding: 2px;
  font-weight: 700;
  color: white;
  background-color: rgba(128, 128, 128, 0.473);
  margin: auto;
  position: relative;
  bottom: 15%;
  left: 30%;
}

#stats .second-row .first-div button {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #e0a1ad;
  color: white;
  font-weight: 600;
  border-radius: 10px;
}

#stats .second-row .second-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2%;
  border: solid 2px #e0a1ad;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

#stats .second-row .second-div .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
}

#stats .second-row .second-div .video img {
  border-radius: 10px;
  width: 50%;
  margin: auto;
  z-index: 0;
}

#stats .second-row .second-div .video span {
  position: relative;
  padding: 0.5em;
  background: #80808082;
  display: block;
  width: 6em;
  left: 40%;
  bottom: 3em;
  line-height: 1em;
  border-radius: 0.3em;
  color: white;
  font-weight: 600;
}

#stats .second-row .second-div button {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #e0a1ad;
  color: white;
  font-weight: 600;
  border-radius: 10px;
}

#param {
  margin: 20px;
  border: solid 2px #e0a1ad;
  border-radius: 20px;
}

#param h3 {
  border-bottom: 2px solid #e0a1ad;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 20px;
}

#param .pro-profil-form {
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#param .pro-profil-form input {
  font-weight: 600;
  font-size: 20px;
  border: none;
  border-bottom: solid 2px #e0a1ad;
  width: 100%;
  padding: 7px;
}

#param .pro-profil-form label {
  color: #e0a1ad;
  font-size: 20px;
  font-weight: 600;
}

#param .pro-profil-form .pro-profil-submit {
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 25px;
  background-color: #e0a1ad;
  color: white;
  width: auto;
  margin: auto;
}

#param .pro-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#param .pro-delete p {
  font-size: 20px;
  font-weight: 400;
}

#param .pro-delete button {
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 25px;
  background-color: #e0a1ad;
  color: white;
  margin: auto;
}

@media only screen and (min-width: 320px) and (max-width: 450px) {
  #param {
    margin: 0px;
  }
  #param h3 {
    font-size: 20px;
  }
  #param .pro-profil-form .pro-profil-submit {
    font-size: 15px;
  }
  #param .pro-delete {
    margin-bottom: 50px;
  }
  #param .pro-delete p {
    font-size: small;
    text-align: justify;
  }
  #param .pro-delete button {
    font-size: 15px;
  }
}

#addGirl {
  margin: 20px;
}

#addGirl h3 {
  border-bottom: 2px solid #e0a1ad;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 30px;
}

#addGirl h5 {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 30px;
}

#addGirl .add-action-div {
  text-align: center;
  margin-bottom: 40px;
}

#addGirl .add-action-div input {
  width: 70%;
  padding: 1%;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
  border: #e0a1ad 2px solid;
}

#addGirl .add-action-div button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  font-size: 15px;
  background-color: black;
}

#addGirl .no-result-div {
  text-align: center;
  padding: 1rem;
  font-size: 15px;
  font-weight: 600;
  background-color: white;
  border: 1px solid #e0a1ad;
  border-radius: 50px;
  margin-bottom: 20px;
}

#addGirl .add-girl-result-div {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 23px 10px 66px -26px rgba(0, 0, 0, 0.75);
          box-shadow: 23px 10px 66px -26px rgba(0, 0, 0, 0.75);
  border-radius: 50px;
  margin-bottom: 20px;
}

#addGirl .add-girl-result-div span {
  font-size: 16px;
  font-weight: 500;
}

#addGirl .add-girl-result-div .add-btn-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#addGirl .add-girl-result-div .add-btn-div .goto-profil {
  background-color: #e0a1ad;
  border-radius: 20px;
  padding: 10px;
  color: white;
  font-weight: 700;
  margin-right: 40px;
}

#addGirl .add-girl-result-div .add-btn-div .add-girl-btn {
  background-color: #26c53c;
  border-radius: 30px;
  padding: 10px;
  color: white;
  font-weight: 700;
}

#addGirl .add-girl-result-div .add-btn-div .delete-girl-btn {
  display: none;
  background-color: #ff2d2d;
  border-radius: 30px;
  padding: 10px;
  color: white;
  font-weight: 700;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  #addGirl {
    margin: 0px;
  }
  #addGirl h3 {
    font-size: 20px;
    text-align: center;
  }
  #addGirl h5 {
    font-size: 15px;
  }
  #addGirl .add-action-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  #addGirl .add-action-div input {
    line-height: 20px;
    font-size: 13px;
    width: 100%;
  }
  #addGirl .add-action-div button {
    font-size: 13px;
  }
  #addGirl .no-result-div {
    font-size: 10px;
  }
  #addGirl .add-girl-result-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #addGirl .add-girl-result-div span {
    font-size: 10px;
    margin-bottom: 10px;
  }
  #addGirl .add-girl-result-div .add-btn-div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #addGirl .add-girl-result-div .add-btn-div button {
    font-size: 13px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #addGirl h3 {
    font-size: 20px;
  }
  #addGirl .add-action-div {
    text-align: center;
    margin-bottom: 40px;
  }
  #addGirl .add-action-div input {
    font-size: 11px;
  }
  #addGirl .add-action-div button {
    font-size: 11px;
  }
  #addGirl .no-result-div {
    font-size: 10px;
  }
  #addGirl .add-girl-result-div span {
    font-size: 13px;
  }
  #addGirl .add-girl-result-div button {
    font-size: 10px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  #addGirl h3 {
    font-size: 20px;
  }
  #addGirl .no-result-div {
    font-size: 12px;
  }
  #addGirl .add-girl-result-div span {
    font-size: 13px;
  }
  #addGirl .add-girl-result-div button {
    font-size: 13px;
  }
}

#admin-main_profile {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#admin-main_profile #admin-contents {
  position: relative;
  width: 80%;
}

#admin-contents .active {
  display: block;
  height: auto;
}

#admin-contents > div {
  position: absolute;
  display: none;
  padding: 2em;
  width: 100%;
  height: 100%;
  background: white;
}

#admin-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: black;
  width: 20%;
  color: white;
  padding: 2em;
  height: 100%;
}

#admin-tabs li {
  text-align: center;
  list-style: none;
  font-size: 1.1em;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#admin-tabs li:hover {
  color: #e0a1ad;
}

#admin-tabs .activeColor {
  color: #e0a1ad;
  border: 1px solid #e0a1ad;
  border-radius: 10px;
  font-weight: 700;
  padding: 3%;
}

#filles-salons .admin-head {
  text-align: center;
}

#filles-salons .admin-head h1 {
  color: black;
  margin-bottom: 40px;
  font-weight: 800;
}

#filles-salons .admin-head h1 span {
  color: #e0a1ad;
}

#filles-salons .admin-head p {
  font-size: 20px;
  margin-bottom: 20px;
}

#filles-salons .girl-salons-search {
  margin-bottom: 40px;
  text-align: center;
}

#filles-salons .girl-salons-search .search {
  background-color: white;
  width: 50%;
  padding: 1%;
  border: none;
  -webkit-box-shadow: 0px 0px 78px -18px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 78px -18px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#filles-salons .girl-salons-search .submit {
  background-color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
}

#filles-salons .result table thead {
  background-color: black;
  color: #e0a1ad;
}

#filles-salons .result table thead th {
  text-align: center;
}

#filles-salons .result table tbody {
  text-align: center;
}

#filles-salons .result table tbody td {
  border: 1px solid #e0a1ad;
  vertical-align: middle;
}

#filles-salons .result table tbody button {
  color: white;
  font-size: 13px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

#filles-salons .result table tbody .valid {
  background-color: #35df59;
}

#filles-salons .result table tbody .delete {
  background-color: #df4935;
}

#filles-salons .result table tbody .certified {
  background-color: #358ddf;
}

#add-delete-com {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#add-delete-com p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

#add-delete-com .com-head {
  text-align: center;
}

#add-delete-com .com-head h1 {
  color: black;
  margin-bottom: 40px;
  font-weight: 800;
}

#add-delete-com .com-head h1 span {
  color: #e0a1ad;
}

#add-delete-com .add-com {
  text-align: center;
  width: 50%;
  margin: auto;
  background-color: black;
  margin-bottom: 40px;
  padding-bottom: 50px;
  padding-top: 50px;
  border-radius: 20px;
}

#add-delete-com .add-com h3 {
  color: white;
}

#add-delete-com .add-com label {
  font-size: 20px;
  color: #e0a1ad;
  font-weight: 700;
}

#add-delete-com .add-com input {
  border: 2px solid #e0a1ad;
  width: 70%;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}

#add-delete-com .add-com button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#add-delete-com .com-search {
  margin-bottom: 40px;
  text-align: center;
}

#add-delete-com .com-search .search {
  background-color: white;
  width: 50%;
  padding: 1%;
  border: none;
  -webkit-box-shadow: 0px 0px 78px -18px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 78px -18px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#add-delete-com .com-search .submit {
  background-color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
}

#add-delete-com .com-result table thead {
  background-color: black;
  color: #e0a1ad;
}

#add-delete-com .com-result table thead th {
  text-align: center;
}

#add-delete-com .com-result table tbody {
  text-align: center;
}

#add-delete-com .com-result table tbody td {
  border: 1px solid #e0a1ad;
  vertical-align: middle;
}

#add-delete-com .com-result table tbody button {
  color: white;
  font-size: 13px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

#add-delete-com .com-result table tbody .delete-com {
  background-color: #df4935;
}

#game .game-head {
  text-align: center;
}

#game .game-head h1 {
  color: black;
  margin-bottom: 40px;
  font-weight: 800;
}

#game .game-head h1 span {
  color: #e0a1ad;
}

#game .game-head p {
  font-size: 20px;
  margin-bottom: 20px;
}

#game .game-result table thead {
  background-color: black;
  color: #e0a1ad;
}

#game .game-result table thead th {
  text-align: center;
}

#game .game-result table tbody {
  text-align: center;
}

#game .game-result table tbody td {
  border: 1px solid #e0a1ad;
  vertical-align: middle;
}

#game .game-result table tbody button {
  color: white;
  font-size: 13px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #e0a1ad;
}

#game .game-result table tbody .delete-com {
  background-color: #df4935;
}

#stats-general .stats-gen-head {
  text-align: center;
}

#stats-general .stats-gen-head h1 {
  color: black;
  margin-bottom: 40px;
  font-weight: 800;
}

#stats-general .stats-gen-head h1 span {
  color: #e0a1ad;
}

#stats-general .stats-gen-head p {
  font-size: 20px;
  margin-bottom: 20px;
}

#stats-general .stats-gen-div {
  margin-top: 50px;
}

#stats-general .stats-gen-div .stats-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 75px -25px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 75px -25px rgba(0, 0, 0, 0.75);
  padding: 3%;
  border-radius: 10px;
  margin-bottom: 40px;
}

#stats-general .stats-gen-div .stats-div span {
  font-size: 25px;
  font-weight: 800;
}

#stats-general .stats-gen-div .stats-div .nb-div {
  width: 15%;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

#stats-general .stats-gen-div .stats-div .nb-div h6 {
  font-size: 20px;
  color: white;
  background-color: #e0a1ad;
  border-radius: 5px;
  font-weight: 700;
  padding: 2%;
}

#stats-general .stats-gen-div .stats-div .nb-div span {
  padding: 5%;
  border-radius: 2px;
  border: 2px solid #e0a1ad;
  margin-top: 20px;
  font-size: 20px;
}

#stats-com .stats-com-head {
  text-align: center;
}

#stats-com .stats-com-head h1 {
  color: black;
  margin-bottom: 40px;
  font-weight: 800;
}

#stats-com .stats-com-head h1 span {
  color: #e0a1ad;
}

#stats-com .stats-com-head p {
  font-size: 20px;
  margin-bottom: 20px;
}

#stats-com .stats-com-result table thead {
  background-color: black;
  color: #e0a1ad;
}

#stats-com .stats-com-result table thead th {
  text-align: center;
}

#stats-com .stats-com-result table tbody {
  text-align: center;
}

#stats-com .stats-com-result table tbody td {
  border: 1px solid #e0a1ad;
  vertical-align: middle;
}

#stats-com .stats-com-result table tbody button {
  color: white;
  font-size: 13px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #e0a1ad;
}

#stats-com .stats-com-result table tbody .delete-com {
  background-color: #df4935;
}

#comm-stats .stats-gen-head {
  text-align: center;
}

#comm-stats .stats-gen-head h1 {
  color: black;
  margin-bottom: 40px;
  font-weight: 800;
}

#comm-stats .stats-gen-head h1 span {
  color: #e0a1ad;
}

#comm-stats .stats-gen-head p {
  font-size: 20px;
  margin-bottom: 20px;
}

#comm-stats .stats-gen-div {
  margin-top: 50px;
}

#comm-stats .stats-gen-div .stats-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 75px -25px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 75px -25px rgba(0, 0, 0, 0.75);
  padding: 3%;
  border-radius: 10px;
  margin-bottom: 40px;
}

#comm-stats .stats-gen-div .stats-div span {
  font-size: 25px;
  font-weight: 800;
}

#comm-stats .stats-gen-div .stats-div .nb-div {
  width: 15%;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

#comm-stats .stats-gen-div .stats-div .nb-div h6 {
  font-size: 17px;
  color: white;
  background-color: #e0a1ad;
  border-radius: 5px;
  font-weight: 700;
  padding: 2%;
}

#comm-stats .stats-gen-div .stats-div .nb-div span {
  padding: 5%;
  border-radius: 2px;
  border: 2px solid #e0a1ad;
  margin-top: 20px;
  font-size: 20px;
}

#validation .com-head {
  text-align: center;
}

#validation .com-head h1 {
  color: black;
  margin-bottom: 40px;
  font-weight: 800;
}

#validation .com-head h1 span {
  color: #e0a1ad;
}

#validation .com-head p {
  font-size: 20px;
  margin-bottom: 20px;
}

#validation .girl-salons-search {
  margin-bottom: 40px;
  text-align: center;
}

#validation .girl-salons-search .search {
  background-color: white;
  width: 50%;
  padding: 1%;
  border: none;
  -webkit-box-shadow: 0px 0px 78px -18px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 78px -18px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#validation .girl-salons-search .submit {
  background-color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
}

#validation .result table thead {
  background-color: black;
  color: #e0a1ad;
}

#validation .result table thead th {
  text-align: center;
}

#validation .result table tbody {
  text-align: center;
}

#validation .result table tbody td {
  border: 1px solid #e0a1ad;
  vertical-align: middle;
}

#validation .result table tbody button {
  color: white;
  font-size: 13px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

#validation .result table tbody .valid {
  background-color: #35df59;
}

#validation .result table tbody .delete {
  background-color: #df4935;
}

#validation .result table tbody .certified {
  background-color: #358ddf;
}
/*# sourceMappingURL=style.css.map */